
<p>«Генеральная прокуратура РФ направила информацию в адрес мэра Москвы <strong>Сергея Собянина</strong>, в которой поставила вопрос об устранении выявленных нарушений, защите государственных интересов, а также об увольнении Дмитрия Гаева с должности руководителя ГУП «Московский метрополитен» и взыскании убытков, причиненных предприятию», - заявила «Интерфаксу» официальный представитель Генпрокуратуры РФ <strong>Марина Гриднева</strong>. </p> 
 
<p>В ходе проверки «установлены обстоятельства, которые свидетельствует о ненадлежащем исполнении руководством предприятия должностных полномочий, а в ряде случаев и об их личной заинтересованности». Так, отмечает Генпрокуратура, Гаев «при исполнении своих обязанностей действовал недобросовестно, ущемляя интересы унитарного предприятия, в том числе в целях личного обогащения».</p> 
 
<p>«Он создал систему, при которой различного рода технические разработки, поставленные и внедренные за счет средств ГУП, оформлялись как его личное изобретение, либо коммерческой структуры, выполнявшей работы по контракту с метрополитеном, в ущерб интересам возглавляемого предприятия», - пояснила Гриднева.</p> 
 
<p>«Используя полученные за счет средств госпредприятия результаты, он стал патентообладателем и начиная с 1999 года получил 112 млн рублей от возглавляемого им ГУПа (12 млн рублей первоначально и по 10 млн рублей ежегодно)», - заявляет Генпрокуратура РФ.</p> 
 
<p>В ходе проверки выявлены и другие нарушения, свидетельствующие о «наличии корыстного интереса Гаева и прочих руководителей ГУП «Московский метрополитен», отмечает надзорное ведомство.</p> 
 
<p>«Так, предприятие до сих пор в установленном законом порядке не оформило право хозяйственного ведения на 71 станцию и 198 перегонов между станциями метрополитена. 34 земельных участка, предоставленных департаментом земельных ресурсов Москвы в аренду предприятию, на кадастровый учет не поставлены, договоры аренды не зарегистрированы», - говорится в сообщении на сайте Генпрокуратуры РФ.</p> 
 
<p>ГУП «Московский метрополитен» осуществляет использование станций метрополитена, являющихся объектами культурного наследия, в отсутствие охранного обязательства. Установлено, что с 2000 года ГУП «Московский метрополитен» ежегодно без согласия столичного правительства заключает договоры на аренду нежилого помещения, а также пользование технологическим каналом связи для обеспечения передачи информации на территории метрополитена, пишет газета «Взгляд».</p> 
 
<p>Общество защиты прав потребителей призывает Генпрокуратуру принять более жесткие меры в отношении руководства московского метро и, возможно, возбудить уголовные дела. </p> 
 
<p>«Предложение об отставке руководителя Московского метрополитена Дмитрия Гаева мы всячески приветствуем. Но хотелось бы, чтобы Генпрокуратура по результатам проверок не только требовала отставок, но и возбуждала уголовные дела», - сказал председатель ОЗПП <strong>Михаил Аншаков</strong>. </p> 
 
<p>«Жалоб на метрополитен поступает достаточно много, а метрополитен занимает глухую оборону, даже к естественным претензиям не прислушивается. Непонятно, за что потребитель платит деньги, стоимость проезда постоянно возрастает, а сервис остается на крайне низком уровне. В метро жарко, душно, шумность превышает санитарные нормы, причем значительно, небезопасна для органов слуха. Но метрополитен не идет на то, чтобы навести здесь порядок», - подчеркнул Аншаков.</p> 
 
<p>Идея проверить деятельность метрополитена принадлежит новому мэру Сергею Собянину. 2 ноября в ходе заседания правительства он предложил сделать это Счетной палате. </p> 
 
<p>Счетная палата подведет итоги своей проверки 28 декабря, сообщил источник в ведомстве. </p> 
 
<p>Работа Дмитрия Гаева ни разу не подвергалась критике со стороны прежнего руководства города. Единственный случай, когда <strong>Юрий Лужков</strong> резко высказался в адрес начальника подземки, имел место минувшим летом. «Нам важно с пьедестала, который занял начальник метрополитена, ссадить его на землю и заставить заниматься ремонтами, профилактикой», - сказал Лужков в июне на заседании правительства. В метрополитене не прекращаются случаи снятия составов с линии из-за неисправностей, указал он: «Из-за этого сразу на полчаса теряется движение на загруженных линиях. Метро должно работать, как часы!»</p> 
 
<p>Начальник Московского метрополитена Дмитрий Гаев ответил на претензии Генпрокуратуры РФ: «Если я что-то незаконное получал, я должен за это отвечать, но я за собой такое не знаю». Об этом он сказал в беседе с радиостанцией Русская служба новостей (РСН). Он добавил, что узнал о претензиях по радио. «Я не знаю, о чем идет речь. Надо сначала почитать, что написано, прежде чем что-либо комментировать», - отметил начальник метрополитена. Отвечая на вопрос, являлся ли он автором изобретений, за которые ГУП платил деньги, Гаев сказал: «А разве это незаконно?»</p> 
 
<p>По словам Гаева, он ждет, когда его пригласят в прокуратуру и ознакомят с претензиями. </p> 
 
 
