:plain
.white-background.story-container
  %a.arrow(href="")
    К списку сюжетов
  .story
    .small-title
      %span
        %span
          Сюжет
    %h1
      Завершился первый день самми АТЭС в Иокогаме. 
      %br
      Империя нанесла ответный удар.
    .al_bottom1
      .al_bottom2
        .col1
          .image-with-description
            %img(src="/images/story-1.jpg" alt="")
            %p
              Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского 
        .col2
          Война продолжается. Несмотря на уничтожение Звезды Смерти, Империя выбила повстанцев с планеты Явин 4, и продолжает поиски выживших. Альянс прячет от агентов Империи свою новую базу на далёкой ледяной планете Хот (англ. Hoth). Дарт Вейдер лично возглавляет силы Империи, участвующие в поисках повстанцев. По его приказу во все уголки Галактики рассылаются зонды-разведчики. На Хоте Люк обнаруживает зонд-разведчик Империи, который ищет базу повстанцев. Люк Скайуокер слышит призыв Оби-Вана Кеноби, который велит ему лететь на планету Дагоба, где его ждёт великий джедай — мастер Йода. В снежной пустыне Люк в третий раз применяет Силу и в первый раз — световой меч, спасаясь от снежного чудища. Имперские зонды выслеживают базу повстанцев. Имперский флот атакует её, их встречают пилоты во главе со Скайуокером.
    .title
      %table
        %tr
          %td
            %span
            Фото и видео
          %td
    #timeline

    .elements
      .element
        .block
          .al_bottom1
            .al_bottom2
              .col1
                %img(src="/images/story-image-1.jpg" alt="")
              .col2
                .time
                  12 ноября 15:34
                %h2
                  %a(href="/ajax/body/helo" id="a1")
                    Knight Rush
                .lead
                  Knight's Rush sets a new bar for triple-A-quality gaming for the iPhone, with full iOS 4 support.
        .system_time
          2010-10-26 10:19:00 +0400

        .block.right
          .al_bottom1
            .al_bottom2
              .col1
                %img(src="/images/story-image-2.jpg" alt="")
              .col2
                .time
                  10 ноября 9:14
                %h2
                  %a(href="")
                    AC/DC
                .lead
                  Knight's Rush sets a new bar for triple-A-quality gaming for the iPhone, with full iOS 4 support.
        .system_time
          2005-04-02 07:06:00 +0400

    .clear
    .title
      %table
        %tr(valign="bottom")
          %td
            %span
            Новости
          %td
            .show_all_elements
              %a(href="") Посмотреть все
              (12)
    .elements
      .element
        .time
          12 ноября 18:38 /
          %a(href="")
            В мире
        %h2
          %a(href="/ajax/body/hello_wordl" id="a2")
            Новый префект Северного Округа Москвы пообещал навести порядок в Химкинском лесу
        .lead
          Префект Владимир Силкин, назначенный на этот пост в конце октября 2010 года, пообещал навести порядок в Химкинском лесопарке, часть которого расположена на территории округа. 
        .system_time
          2010-10-11 07:06:00 +0400

      .element
        .time
          11 ноября 16:59 /
          %a(href="")
            Центр
        %h2
          %a(href="/ajax/body/hello_wordl" id="a3")
            В Калининграде пройдет пикет против передачи бывших католических и лютеранских храмов РПЦ
        .lead
          Представители общественности и оппозиционных движений проведут акцию против передачи в собственность православной церкви бывших католических и лютеранских храмов, а также орденских замков.
        .system_time
          2010-10-10 07:06:00 +0400


      .element
        .time
          11 ноября 16:59 /
          %a(href="")
            Центр
        %h2
          %a(href="/ajax/body/hello_wordl" id="a4")
            В Калининграде пройдет пикет против передачи бывших католических и лютеранских храмов РПЦ
        .lead
          Представители общественности и оппозиционных движений проведут акцию против передачи в собственность православной церкви бывших католических и лютеранских храмов, а также орденских замков.
        .system_time
          2009-10-08 19:50:34 +0400


    .title
      %table
        %tr(valign="bottom")
          %td
            %span
            Статьи
          %td
    .elements
      .element
        .time
          12 ноября 18:38 /
          %a(href="")
            В мире
        %h2
          %a(href="/ajax/body/hello_wordl" id="a5")
            Новый префект Северного Округа Москвы пообещал навести порядок в Химкинском лесу
        .lead
          Префект Владимир Силкин, назначенный на этот пост в конце октября 2010 года, пообещал навести порядок в Химкинском лесопарке, часть которого расположена на территории округа. 
        .system_time
          2010-10-11 01:06:00 +0400


      .element
        .time
          11 ноября 16:59 /
          %a(href="")
            Центр
        %h2
          %a(href="/ajax/body/hello_wordl" id="a6")
            В Калининграде пройдет пикет против передачи бывших католических и лютеранских храмов РПЦ
        .lead
          Представители общественности и оппозиционных движений проведут акцию против передачи в собственность православной церкви бывших католических и лютеранских храмов, а также орденских замков.
        .system_time
          2009-11-03 07:06:00 +0400


      .element
        .time
          11 ноября 16:59 /
          %a(href="")
            Центр
        %h2
          %a(href="/ajax/body/hello_wordl" id="a7")
            В Калининграде пройдет пикет против передачи бывших католических и лютеранских храмов РПЦ
        .lead
          Представители общественности и оппозиционных движений проведут акцию против передачи в собственность православной церкви бывших католических и лютеранских храмов, а также орденских замков.
        .system_time
          2009-08-28 19:41:46 +0400


    .title
      %table
        %tr(valign="bottom")
          %td
            %span
            Интервью
          %td
    .elements
      .element
        .time
          12 ноября 18:38 /
          %a(href="/ajax/body/hello_wordl" id="a18")
            В мире
        %h2
          %a(href="/ajax/body/hello_wordl")
            Новый префект Северного Округа Москвы пообещал навести порядок в Химкинском лесу
        .lead
          Префект Владимир Силкин, назначенный на этот пост в конце октября 2010 года, пообещал навести порядок в Химкинском лесопарке, часть которого расположена на территории округа. 
        .system_time
          2010-10-22 08:03:18 +0400


      .element
        .time
          11 ноября 16:59 /
          %a(href="")
            Центр
        %h2
          %a(href="/ajax/body/hello_wordl" id="a9")
            В Калининграде пройдет пикет против передачи бывших католических и лютеранских храмов РПЦ
        .lead
          Представители общественности и оппозиционных движений проведут акцию против передачи в собственность православной церкви бывших католических и лютеранских храмов, а также орденских замков.

      .element
        .time
          11 ноября 16:59 /
          %a(href="")
            Центр
        %h2
          %a(href="/ajax/body/hello_wordl" id="a10")
            В Калининграде пройдет пикет против передачи бывших католических и лютеранских храмов РПЦ
        .lead
          Представители общественности и оппозиционных движений проведут акцию против передачи в собственность православной церкви бывших католических и лютеранских храмов, а также орденских замков.
        .system_time
          2010-08-10 07:06:00 +0400



- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'
