.bundle
db/*.sqlite3
log/*.log
tmp/**/*
public/stylesheets/compiled/*.css
webrat.log
tmp
public/;-)
.rvmrc
test/
Gemfile.lock
config/application.yml
config/newrelic.yml
db/seeds.rb

# Temporary files of every sort
.sass-cache
.DS_Store
.idea
.rvmrc
.stgit*
*.swap
*.swo
*.swp
*~
bin/*
nbproject
patches-*
capybara-*.html
dump.rdb
public/.fr-*
