.white-background.blogs
  .element
    .lead
      %a(href="#")
        %img(src="/images/articles_1.jpg")
      %h2
        %a(href="#")
          Завершился первый день саммита АТЭС в Иокогаме, Империя нанесла ответный удар
      %p
        Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений либерализировать торговлю и бороться с протекционизмом для устойчивого социально-экономического роста.
      .hr

  .element
    .lead
      %a(href="#")
        %img(src="/images/articles_2.jpg")
      %h2
        %a(href="#")
          Дело о «Мерседесах»
      %p
        Главное следственное управление СК РФ возбудило уголовное дело по статье 159 УК РФ (мошенничество) в связи с поставками автомобилей «Мерседес-Бенц» государственным структурам, сообщил официальный представитель СК РФ Владимир Маркин.
      .hr

  .element
    .lead
      %a(href="#")
        %img(src="/images/articles_3.jpg")
      %h2
        %a(href="#")
          По итогам саммита G20 упростится доступ к ресурсам МВФ
      %p
        :plain
          <a href="#">Где купить одежду, как у невесты принца Уильяма</a><br />
          <a href="#">Секс и девочки</a><br />
          <a href="#">Тени в виде клатча</a><br />
          <a href="#">Курение в фактах</a><br />
          <a href="#">Как разрушить свой брак</a><br />
          <a href="#">Все, что вы хотели знать об уходе за волосами</a><br />
      .hr

  .element
    .lead
      %a(href="#")
        %img(src="/images/articles_4.jpg")
      %h2
        %a(href="#")
          Завершился первый день саммита АТЭС в Иокогаме, Империя нанесла ответный удар
      %p
        Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений либерализировать торговлю и бороться с протекционизмом для устойчивого социально-экономического роста.
      .hr

  .element
    .lead
      %a(href="#")
        %img(src="/images/articles_5.jpg")
      %h2
        %a(href="#")
          «Икону демократии» выпустили на свободу
      %p
        Лидер оппозиции Республики Мьянма, лауреат Нобелевской премии мира 1991 года Аун Сан Су Чжи, освобождена после почти 14 лет домашнего ареста. За долгие годы заключения Су Чжи, противостоящая военной хунте, правящей в Мьянме около 50 лет, стала мировой «иконой демократии». В 1991 году ей была присуждена Нобелевская премия мира, а ирландская группа U2 посвятила ей песню под названием Walk on.
      .hr

  .element
    .lead
      %a(href="#")
        %img(src="/images/articles_1.jpg")
      %h2
        %a(href="#")
          Свиной грипп снова наступает
      %p
        В мире выявлен новый вирус гриппа - H3N2, причем, по утверждению Геннадия Онищенко, это - мутация предыдущего «свиного» гриппа. В данный момент медики заняты изучением его морфологии.
      .hr

  .element
    .lead
      %a(href="#")
        %img(src="/images/articles_1.jpg")
      %h2
        %a(href="#")
          Свиной грипп снова наступает
      %p
        В мире выявлен новый вирус гриппа - H3N2, причем, по утверждению Геннадия Онищенко, это - мутация предыдущего «свиного» гриппа. В данный момент медики заняты изучением его морфологии.
      .hr

  .pagination
    %nobr
      Страницы
      %a(href="") предыдущая
      %a(href="")
        следующая
    .pages
      %a(href="") 1
      %a(href="") 2
      %a(href="") 3
      %a(href="") 4
      %a(href="") 5
      %a(href="") 6
      %a(href="") 7
      %a(href="") 8

- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'
