/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 5, ../../../app/stylesheets/application.sass */
html, body {
  height: 100%;
  background-color: #fdfdfd;
}

/* line 8, ../../../app/stylesheets/application.sass */
body {
  background: url(/images/bg_gradient.png) repeat-x;
  min-width: 1004px;
  font-family: Verdana, sans-serif;
}
/* line 12, ../../../app/stylesheets/application.sass */
body .content {
  width: 1004px;
  margin: 0 auto;
  position: relative;
}
/* line 16, ../../../app/stylesheets/application.sass */
body .content .top {
  background: url(/images/top_bg.png) no-repeat;
  height: 100px;
  display: block;
  width: 100%;
  color: white;
}
/* line 22, ../../../app/stylesheets/application.sass */
body .content .top .logo {
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
  background: url(/images/logo.png) no-repeat;
  z-index: 10;
  width: 180px;
  height: 35px;
  top: 28px;
  margin-left: 26px;
}
/* line 32, ../../../app/stylesheets/application.sass */
body .content .top .logo a {
  display: block;
  height: 35px;
}
/* line 35, ../../../app/stylesheets/application.sass */
body .content .top .date {
  text-align: right;
  padding-top: 35px;
  padding-right: 100px;
  font-family: Georgia, serif;
  font-size: 14px;
}
/* line 41, ../../../app/stylesheets/application.sass */
body .content .top .search {
  position: absolute;
  top: 72px;
  right: 38px;
  background: url(/images/search.png);
  overflow: hidden;
  display: block;
  height: 19px;
  width: 158px;
}
/* line 50, ../../../app/stylesheets/application.sass */
body .content .top .search input {
  background: transparent;
  border: none;
  outline-color: white;
  font-size: 12px;
  margin-left: 24px;
  font-family: Verdana, sans-serif;
  width: 124px;
}
/* line 60, ../../../app/stylesheets/application.sass */
body .content .green-line {
  background-color: #397e06;
  width: 100%;
  height: 1px;
  display: block;
}
/* line 66, ../../../app/stylesheets/application.sass */
body .content .menu-background {
  background-color: #aeb0b1;
  width: 100%;
  height: 18px;
  display: block;
}
/* line 72, ../../../app/stylesheets/application.sass */
body .content .white-line {
  background-color: #edeeee;
  width: 100%;
  height: 1px;
  display: block;
}

/* line 81, ../../../app/stylesheets/application.sass */
#nav {
  list-style: none;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: white;
  padding-top: 25px;
  padding-left: 26px;
}
/* line 88, ../../../app/stylesheets/application.sass */
#nav li.active {
  border-bottom: #88b55f solid 2px;
}
/* line 90, ../../../app/stylesheets/application.sass */
#nav li:hover {
  border-bottom: #88b55f solid 2px;
}
/* line 92, ../../../app/stylesheets/application.sass */
#nav li {
  float: left;
  display: inline;
  margin-right: 10px;
}
/* line 96, ../../../app/stylesheets/application.sass */
#nav li a {
  float: left;
  text-decoration: none;
  color: white;
}
/* line 100, ../../../app/stylesheets/application.sass */
#nav ul {
  position: absolute;
  top: 103px;
  left: 26px;
  list-style: none;
  overfloat: hidden;
}
/* line 106, ../../../app/stylesheets/application.sass */
#nav ul li.selected {
  color: #3d3e3e;
}
/* line 108, ../../../app/stylesheets/application.sass */
#nav ul li:hover {
  color: #3d3e3e;
  border: none;
}
/* line 112, ../../../app/stylesheets/application.sass */
#nav ul li a {
  color: inherit;
  font-size: 11px;
}

/* line 116, ../../../app/stylesheets/application.sass */
#main {
  overflow: hidden;
  background-color: white;
  padding-bottom: 10px;
}
/* line 120, ../../../app/stylesheets/application.sass */
#main #content {
  width: 735px;
  float: left;
}
/* line 124, ../../../app/stylesheets/application.sass */
#main #sidebar {
  width: 269px;
  float: right;
  background-color: white;
}
/* line 128, ../../../app/stylesheets/application.sass */
#main #sidebar .gray-line {
  width: 268px;
  height: 9px;
  background-color: #e4e5e6;
}

/* line 133, ../../../app/stylesheets/application.sass */
#footer {
  background-color: #737b7c;
  height: 30px;
  position: relative;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}
/* line 139, ../../../app/stylesheets/application.sass */
#footer .menu {
  position: relative;
  list-style: none outside none;
  padding-left: 20px;
  padding-top: 7px;
}
/* line 144, ../../../app/stylesheets/application.sass */
#footer .menu li {
  float: left;
  display: inline;
  margin-right: 13px;
}
/* line 148, ../../../app/stylesheets/application.sass */
#footer .menu li a {
  color: white;
  text-decoration: none;
}
/* line 151, ../../../app/stylesheets/application.sass */
#footer .menu li a:hover {
  text-decoration: underline;
}
/* line 153, ../../../app/stylesheets/application.sass */
#footer .copyright {
  position: absolute;
  top: 7px;
  text-align: right;
  color: #bebebe;
  right: 269px;
}

/* line 160, ../../../app/stylesheets/application.sass */
.hot-news-container {
  background-color: #e4e5e6;
  padding-left: 20px;
  padding-top: 9px;
}
/* line 164, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news {
  display: block;
  width: 710px;
  height: 29px;
  background: url(/images/hot_news.png);
  position: relative;
}
/* line 170, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news .news-title {
  font-size: 10px;
  color: white;
  padding-top: 7px;
  padding-left: 5px;
}
/* line 175, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news h1 {
  color: #303030;
  position: absolute;
  top: 7px;
  font-size: 12px;
  left: 90px;
}
/* line 181, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news h1 a {
  color: inherit;
  text-decoration: none;
}
/* line 184, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news h1 a:hover {
  text-decoration: underline;
}

/* line 187, ../../../app/stylesheets/application.sass */
dl.top-news {
  background-color: #e4e5e6;
  padding-left: 20px;
  padding-top: 9px;
  height: 20px;
  font-size: 13px;
  font-family: Verdana, serif;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 197, ../../../app/stylesheets/application.sass */
dl.top-news dt {
  position: relative;
  cursor: pointer;
  background-color: #f8f8f9;
  float: left;
  height: 100%;
  padding-left: 6px;
  color: 4e 4e 4e;
}
/* line 205, ../../../app/stylesheets/application.sass */
dl.top-news dt .end {
  width: 6px;
  height: 20px;
  display: inline-block;
  background-color: #f8f8f9;
  float: right;
}
/* line 213, ../../../app/stylesheets/application.sass */
dl.top-news .last .end {
  background: url(/images/top_news_menu.png) scroll no-repeat;
  background-color: #e4e5e6 !important;
}
/* line 217, ../../../app/stylesheets/application.sass */
dl.top-news .active {
  background-color: #6fb111;
  color: #f8f8f9;
}
/* line 220, ../../../app/stylesheets/application.sass */
dl.top-news .active .end {
  background: url(/images/top_news_menu_active.png) scroll no-repeat;
  background-color: #f8f8f9;
}
/* line 223, ../../../app/stylesheets/application.sass */
dl.top-news .active td {
  font-weight: bold;
}
/* line 225, ../../../app/stylesheets/application.sass */
dl.top-news dd {
  float: right;
  position: relative;
  margin: 20px 0 0 -100%;
  width: 100%;
  display: none;
}
/* line 231, ../../../app/stylesheets/application.sass */
dl.top-news dd .content {
  background-color: #c2c2c2;
  width: 100%;
  height: 232px;
}
/* line 235, ../../../app/stylesheets/application.sass */
dl.top-news dd .content img {
  margin-top: 5px;
  margin-left: 6px;
  float: left;
}
/* line 239, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul {
  list-style: none;
  width: 380px;
  float: right;
  margin-top: 5px;
  margin-right: 15px;
  height: 222px;
  position: relative;
}
/* line 247, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li {
  background-color: white;
  margin-bottom: 1px;
  width: 390px;
  height: 73px;
}
/* line 252, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li img {
  position: absolute;
  left: -320px;
  top: -5px;
  display: none;
}
/* line 257, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li * {
  margin-left: 5px;
}
/* line 259, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li h2 {
  color: #4e4e4e;
  font-size: 13px;
  font-family: Georgia, sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
}
/* line 265, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li h2 a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* line 270, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li h2 a nobr {
  margin: 0;
}
/* line 272, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li h2 a:hover {
  text-decoration: underline;
}
/* line 274, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li .time {
  color: #a8a8a8;
  font-size: 17px;
}
/* line 277, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li .lead {
  font-size: 10px;
  font-family: Verdana;
  color: #4e4e4e;
}
/* line 282, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li.active img {
  display: block;
}
/* line 285, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li.active h2, dl.top-news dd .content ul li:hover h2 {
  color: #528c00;
}
/* line 287, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li.last {
  margin-bottom: 0;
  height: 74px;
}
/* line 290, ../../../app/stylesheets/application.sass */
dl.top-news dd.active {
  display: block;
}

/* line 292, ../../../app/stylesheets/application.sass */
.hidden {
  display: none;
}

/* line 297, ../../../app/stylesheets/application.sass */
.sidebar-container {
  padding-left: 8px;
  padding-right: 20px;
}
/* line 302, ../../../app/stylesheets/application.sass */
.sidebar-container .block .title {
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  font-size: 12.6px;
  color: #5e6465;
  padding-left: 11px;
  margin-top: 10px;
}
/* line 310, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content {
  background-color: #f4f4f4;
  border-top: 1px solid #dfdfdf;
  font-size: 12px;
  color: #666666;
  width: 241px;
  padding-top: 5px;
  margin-top: 5px;
}
/* line 319, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list {
  list-style: none outside none;
  position: relative;
  padding-bottom: 1px;
}
/* line 323, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list li {
  margin-bottom: 10px;
}
/* line 325, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .name {
  margin-left: 11px;
}
/* line 327, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .price {
  position: absolute;
  left: 100px;
  padding-right: 10px;
}
/* line 331, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .abs_relative {
  position: absolute;
  right: 1px;
}
/* line 336, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .minus .price {
  color: #e10000;
  background: url(/images/minus.gif) no-repeat scroll 100% 0 transparent;
}
/* line 340, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .plus .price {
  color: #65ab00;
  background: url(/images/plus.gif) no-repeat scroll 100% 2px transparent;
}

/* line 343, ../../../app/stylesheets/application.sass */
.clear {
  clear: both;
}
