/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 44, ../../../app/stylesheets/application.sass */
html, body {
  height: 100%;
  background-color: #fdfdfd;
}

/* line 47, ../../../app/stylesheets/application.sass */
body {
  background: url(/images/bg_gradient.png) repeat-x;
  min-width: 1004px;
  font-family: Verdana, sans-serif;
}
/* line 51, ../../../app/stylesheets/application.sass */
body .content {
  width: 1004px;
  margin: 0 auto;
  position: relative;
}
/* line 55, ../../../app/stylesheets/application.sass */
body .content .top {
  background: url(/images/top_bg.png) no-repeat;
  height: 100px;
  display: block;
  width: 100%;
  color: white;
}
/* line 61, ../../../app/stylesheets/application.sass */
body .content .top .logo {
  position: absolute;
  overflow: hidden;
  text-indent: -9999px;
  background: url(/images/logo.png) no-repeat;
  z-index: 10;
  width: 180px;
  height: 35px;
  top: 28px;
  margin-left: 26px;
}
/* line 71, ../../../app/stylesheets/application.sass */
body .content .top .logo a {
  display: block;
  height: 35px;
}
/* line 74, ../../../app/stylesheets/application.sass */
body .content .top .date {
  text-align: right;
  padding-top: 35px;
  padding-right: 100px;
  font-family: Georgia, serif;
  font-size: 14px;
}
/* line 80, ../../../app/stylesheets/application.sass */
body .content .top .search {
  position: absolute;
  top: 72px;
  right: 38px;
  background: url(/images/search.png);
  overflow: hidden;
  display: block;
  height: 19px;
  width: 158px;
}
/* line 89, ../../../app/stylesheets/application.sass */
body .content .top .search input {
  background: transparent;
  border: none;
  outline-color: white;
  font-size: 12px;
  margin-left: 24px;
  font-family: Verdana, sans-serif;
  width: 124px;
}
/* line 99, ../../../app/stylesheets/application.sass */
body .content .green-line {
  background-color: #397e06;
  width: 100%;
  height: 1px;
  display: block;
}
/* line 105, ../../../app/stylesheets/application.sass */
body .content .menu-background {
  background-color: #aeb0b1;
  width: 100%;
  height: 18px;
  display: block;
}
/* line 111, ../../../app/stylesheets/application.sass */
body .content .white-line {
  background-color: #edeeee;
  width: 100%;
  height: 1px;
  display: block;
}

/* line 120, ../../../app/stylesheets/application.sass */
#nav {
  list-style: none;
  font-family: Verdana, sans-serif;
  font-size: 13px;
  color: white;
  padding-top: 25px;
  padding-left: 26px;
}
/* line 127, ../../../app/stylesheets/application.sass */
#nav li.active {
  border-bottom: #88b55f solid 2px;
}
/* line 129, ../../../app/stylesheets/application.sass */
#nav li.active a {
  font-weight: bold;
}
/* line 131, ../../../app/stylesheets/application.sass */
#nav li:hover {
  border-bottom: #88b55f solid 2px;
}
/* line 133, ../../../app/stylesheets/application.sass */
#nav li {
  float: left;
  display: inline;
  margin-right: 10px;
}
/* line 137, ../../../app/stylesheets/application.sass */
#nav li a {
  float: left;
  text-decoration: none;
  color: white;
}
/* line 141, ../../../app/stylesheets/application.sass */
#nav ul {
  position: absolute;
  top: 103px;
  left: 26px;
  list-style: none;
  overfloat: hidden;
}
/* line 147, ../../../app/stylesheets/application.sass */
#nav ul li.selected {
  color: #3d3e3e;
}
/* line 149, ../../../app/stylesheets/application.sass */
#nav ul li.selected a {
  font-weight: bold !important;
}
/* line 151, ../../../app/stylesheets/application.sass */
#nav ul li:hover {
  color: #3d3e3e;
  border: none;
}
/* line 155, ../../../app/stylesheets/application.sass */
#nav ul li a {
  color: inherit;
  font-size: 11px;
  font-weight: normal !important;
}

/* line 160, ../../../app/stylesheets/application.sass */
#main {
  overflow: hidden;
  background-color: white;
  padding-bottom: 10px;
}
/* line 164, ../../../app/stylesheets/application.sass */
#main #content {
  width: 735px;
  float: left;
}
/* line 167, ../../../app/stylesheets/application.sass */
#main #content .white-background {
  padding-left: 20px;
}
/* line 169, ../../../app/stylesheets/application.sass */
#main #content .white-background .element {
  margin-top: 20px;
}
/* line 171, ../../../app/stylesheets/application.sass */
#main #content .white-background .element .time {
  font-family: Verdana, sans;
  font-size: 9px;
  color: #4e4e4e;
  padding-bottom: 14px;
}
/* line 176, ../../../app/stylesheets/application.sass */
#main #content .white-background .element .time a {
  color: #7fade0;
}
/* line 178, ../../../app/stylesheets/application.sass */
#main #content .white-background .element .time .comments {
  text-align: right;
  float: right;
}
/* line 181, ../../../app/stylesheets/application.sass */
#main #content .white-background .element img {
  margin-right: 10px;
  float: left;
}
/* line 39, ../../../app/stylesheets/application.sass */
#main #content .white-background .element h1, #main #content .white-background .element h2, #main #content .white-background .element h3 {
  font-size: 13px;
  color: #4e4e4e;
}
/* line 10, ../../../app/stylesheets/application.sass */
#main #content .white-background .element h1 a, #main #content .white-background .element h2 a, #main #content .white-background .element h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
#main #content .white-background .element h1 a:hover, #main #content .white-background .element h2 a:hover, #main #content .white-background .element h3 a:hover {
  text-decoration: underline;
}
/* line 185, ../../../app/stylesheets/application.sass */
#main #content .white-background .element h2 {
  font-family: Georgia;
  margin-bottom: 4px;
}
/* line 188, ../../../app/stylesheets/application.sass */
#main #content .white-background .element p {
  font-size: 11px;
  font-family: Verdata, sans;
  color: #4e4e4e;
}
/* line 192, ../../../app/stylesheets/application.sass */
#main #content .white-background .element .hr {
  display: block;
  height: 1px;
  clear: both;
  padding-top: 10px;
  border-bottom: 1px solid #d7d7d7;
}
/* line 200, ../../../app/stylesheets/application.sass */
#main #content .blogs .element h2 {
  color: #0084ff;
}
/* line 202, ../../../app/stylesheets/application.sass */
#main #content .blogs .element h2 a {
  text-decoration: underline;
}
/* line 205, ../../../app/stylesheets/application.sass */
#main #content .blogs .element p a {
  color: #7fade0;
}
/* line 208, ../../../app/stylesheets/application.sass */
#main #content .interviews img {
  border: 1px solid #a6a6a6;
  padding: 3px;
}
/* line 211, ../../../app/stylesheets/application.sass */
#main #content .interviews h2 {
  color: #0e5370 !important;
  font-size: 14px !important;
}
/* line 214, ../../../app/stylesheets/application.sass */
#main #content .interviews .gray-line {
  display: block;
  width: 230px;
  background-color: #d7d7d7;
  height: 1px;
  margin-left: 188px;
}
/* line 220, ../../../app/stylesheets/application.sass */
#main #content .interviews h3 {
  color: #4e4e4e;
  font-size: 13px;
  font-family: Georgia, sans-serif;
  font-style: italic;
  padding-top: 8px;
  padding-bottom: 5px;
}
/* line 228, ../../../app/stylesheets/application.sass */
#main #content .pagination {
  margin: 0 auto;
  width: 261px;
  margin-top: 32px;
  margin-bottom: 21px;
  font-size: 11px;
  font-family: Verdana;
  color: #4e4e4e;
}
/* line 236, ../../../app/stylesheets/application.sass */
#main #content .pagination a {
  color: #7fade0;
  margin-left: 30px;
}
/* line 239, ../../../app/stylesheets/application.sass */
#main #content .pagination .pages {
  margin-top: 14px;
  margin-left: 91px;
}
/* line 242, ../../../app/stylesheets/application.sass */
#main #content .pagination .pages a {
  margin-right: 5px;
  margin-left: 0;
}
/* line 247, ../../../app/stylesheets/application.sass */
#main #content .job .element {
  margin-bottom: 16px;
}
/* line 18, ../../../app/stylesheets/application.sass */
#main #content .job .element .title {
  font-size: 18px;
  color: #4e4e4e;
  font-style: italic;
  font-family: Geogia;
  font-weight: bold;
  position: float;
}
/* line 25, ../../../app/stylesheets/application.sass */
#main #content .job .element .title a, #main #content .job .element .title div {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  margin-left: 4px;
  display: inline;
}
/* line 31, ../../../app/stylesheets/application.sass */
#main #content .job .element .title span {
  display: block;
  width: 7px;
  height: 13px;
  background-color: #70a822;
  float: left;
  margin-top: 4px;
}
/* line 250, ../../../app/stylesheets/application.sass */
#main #content .job .element br {
  display: none;
}
/* line 252, ../../../app/stylesheets/application.sass */
#main #content .job .element a {
  display: none;
}
/* line 254, ../../../app/stylesheets/application.sass */
#main #content .job .element ul {
  margin-left: 20px;
  list-style: none;
}
/* line 257, ../../../app/stylesheets/application.sass */
#main #content .job .element ul li {
  font-size: 11px;
  margin-bottom: 5px;
}
/* line 260, ../../../app/stylesheets/application.sass */
#main #content .job .element ul li a {
  display: inline;
  color: #4e4e4e;
  text-decoration: none;
}
/* line 264, ../../../app/stylesheets/application.sass */
#main #content .job .element ul li a:hover {
  text-decoration: underline;
}
/* line 266, ../../../app/stylesheets/application.sass */
#main #content .job .element hr {
  margin-bottom: 15px;
  margin-top: 9px;
}
/* line 270, ../../../app/stylesheets/application.sass */
#main #content .single_news {
  padding-top: 5px;
}
/* line 272, ../../../app/stylesheets/application.sass */
#main #content .single_news a.arrow {
  color: #7fade0;
  font-size: 13px;
  background: url(/images/back_arrow.png) 0 2px no-repeat;
  padding-left: 30px;
}
/* line 277, ../../../app/stylesheets/application.sass */
#main #content .single_news .al_bottom1 {
  margin-top: 10px;
}
/* line 39, ../../../app/stylesheets/application.sass */
#main #content .single_news h1, #main #content .single_news h2, #main #content .single_news h3 {
  font-size: 13px;
  color: #4e4e4e;
}
/* line 10, ../../../app/stylesheets/application.sass */
#main #content .single_news h1 a, #main #content .single_news h2 a, #main #content .single_news h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
#main #content .single_news h1 a:hover, #main #content .single_news h2 a:hover, #main #content .single_news h3 a:hover {
  text-decoration: underline;
}
/* line 280, ../../../app/stylesheets/application.sass */
#main #content .single_news .time {
  font-size: 9px;
  font-weight: bold;
  color: #a6a6a6;
  margin-bottom: 10px;
}
/* line 285, ../../../app/stylesheets/application.sass */
#main #content .single_news .time a {
  color: #7fade0;
}
/* line 287, ../../../app/stylesheets/application.sass */
#main #content .single_news h1 {
  font-weight: bold;
  font-family: Georgia;
}
/* line 291, ../../../app/stylesheets/application.sass */
#main #content .single_news img {
  margin-right: 8px;
}
/* line 293, ../../../app/stylesheets/application.sass */
#main #content .single_news p {
  font-size: 11px;
  color: #4e4e4e;
  font-family: Verdana, serif;
  margin-top: 13px;
}
/* line 298, ../../../app/stylesheets/application.sass */
#main #content .single_news p a {
  color: #7fade0;
}
/* line 300, ../../../app/stylesheets/application.sass */
#main #content .single_news .author {
  text-align: right;
  color: #0e5370;
  font-weight: bold;
  font-family: Verdana;
  font-size: 11px;
  margin-top: 10px;
}
/* line 307, ../../../app/stylesheets/application.sass */
#main #content .single_news .social {
  border-top: 1px solid #d7d7d7;
  margin-top: 6px;
}
/* line 310, ../../../app/stylesheets/application.sass */
#main #content .single_news .social span {
  float: right;
  margin-left: 20px;
  vertical-align: middle;
}
/* line 314, ../../../app/stylesheets/application.sass */
#main #content .single_news .social .fb-share {
  margin-top: 2px;
}
/* line 316, ../../../app/stylesheets/application.sass */
#main #content .single_news .social .twitter {
  margin-top: 1px;
}
/* line 318, ../../../app/stylesheets/application.sass */
#main #content .single_news .social a.comment {
  float: left;
  color: #7fade0;
  font-size: 9px;
  padding-top: 3px;
}
/* line 323, ../../../app/stylesheets/application.sass */
#main #content .single_news .social-bottom {
  border-bottom: 1px solid #d7d7d7;
  widht: 100%;
  padding-top: 23px;
}
/* line 330, ../../../app/stylesheets/application.sass */
#main #sidebar {
  width: 269px;
  float: right;
  background-color: white;
}
/* line 334, ../../../app/stylesheets/application.sass */
#main #sidebar .gray-line {
  width: 100%;
  height: 9px;
  background-color: #e4e5e6;
}

/* line 338, ../../../app/stylesheets/application.sass */
#footer {
  background-color: #737b7c;
  height: 30px;
  position: relative;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}
/* line 344, ../../../app/stylesheets/application.sass */
#footer .menu {
  position: relative;
  list-style: none outside none;
  padding-left: 20px;
  padding-top: 7px;
}
/* line 349, ../../../app/stylesheets/application.sass */
#footer .menu li {
  float: left;
  display: inline;
  margin-right: 13px;
}
/* line 353, ../../../app/stylesheets/application.sass */
#footer .menu li a {
  color: white;
  text-decoration: none;
}
/* line 356, ../../../app/stylesheets/application.sass */
#footer .menu li a:hover {
  text-decoration: underline;
}
/* line 358, ../../../app/stylesheets/application.sass */
#footer .copyright {
  position: absolute;
  top: 7px;
  text-align: right;
  color: #bebebe;
  right: 269px;
}

/* line 365, ../../../app/stylesheets/application.sass */
.hot-news-container {
  background-color: #e4e5e6;
  padding-left: 20px;
  padding-top: 9px;
}
/* line 369, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news {
  display: block;
  width: 710px;
  height: 29px;
  background: url(/images/hot_news.png);
  position: relative;
}
/* line 375, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news .news-title {
  font-size: 10px;
  color: white;
  padding-top: 7px;
  padding-left: 5px;
}
/* line 380, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news h1 {
  color: #303030;
  position: absolute;
  top: 7px;
  font-size: 12px;
  left: 90px;
}
/* line 386, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news h1 a {
  color: inherit;
  text-decoration: none;
}
/* line 389, ../../../app/stylesheets/application.sass */
.hot-news-container .hot-news h1 a:hover {
  text-decoration: underline;
}

/* line 392, ../../../app/stylesheets/application.sass */
dl.top-news {
  background-color: #e4e5e6;
  padding-left: 20px;
  height: 20px;
  font-size: 13px;
  font-family: Verdana, serif;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 401, ../../../app/stylesheets/application.sass */
dl.top-news dt {
  position: relative;
  cursor: pointer;
  background-color: #f8f8f9;
  float: left;
  height: 100%;
  padding-left: 6px;
  color: 4e 4e 4e;
}
/* line 409, ../../../app/stylesheets/application.sass */
dl.top-news dt .end {
  width: 6px;
  height: 20px;
  display: inline-block;
  background-color: #f8f8f9;
  float: right;
}
/* line 417, ../../../app/stylesheets/application.sass */
dl.top-news .last .end {
  background: url(/images/top_news_menu.png) scroll no-repeat;
  background-color: #e4e5e6 !important;
}
/* line 421, ../../../app/stylesheets/application.sass */
dl.top-news .active {
  background-color: #6fb111;
  color: #f8f8f9;
}
/* line 424, ../../../app/stylesheets/application.sass */
dl.top-news .active .end {
  background: url(/images/top_news_menu_active.png) scroll no-repeat;
  background-color: #f8f8f9;
}
/* line 427, ../../../app/stylesheets/application.sass */
dl.top-news .active td {
  font-weight: bold;
}
/* line 429, ../../../app/stylesheets/application.sass */
dl.top-news dd {
  float: right;
  position: relative;
  margin: 20px 0 0 -100%;
  width: 100%;
  display: none;
}
/* line 435, ../../../app/stylesheets/application.sass */
dl.top-news dd .content {
  background-color: #c2c2c2;
  width: 100%;
  height: 232px;
}
/* line 439, ../../../app/stylesheets/application.sass */
dl.top-news dd .content img {
  margin-top: 5px;
  margin-left: 6px;
  float: left;
}
/* line 443, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul {
  list-style: none;
  width: 380px;
  float: right;
  margin-top: 5px;
  margin-right: 15px;
  height: 222px;
  position: relative;
}
/* line 451, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li {
  background-color: white;
  margin-bottom: 1px;
  width: 390px;
  height: 73px;
}
/* line 456, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li img {
  position: absolute;
  left: -320px;
  top: -5px;
  display: none;
}
/* line 461, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li * {
  margin-left: 5px;
}
/* line 463, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li h2 {
  color: #4e4e4e;
  font-size: 12px;
  font-family: Georgia, sans-serif;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: bold;
}
/* line 470, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li h2 a {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
/* line 475, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li h2 a nobr {
  margin: 0;
}
/* line 477, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li h2 a:hover {
  text-decoration: underline;
}
/* line 479, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li .time {
  color: #a8a8a8;
  font-size: 16px;
  font-family: Georgia, sans-serif;
}
/* line 483, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li .lead {
  font-size: 10px;
  font-family: Verdana;
  color: #4e4e4e;
}
/* line 488, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li.active img {
  display: block;
}
/* line 491, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li.active h2, dl.top-news dd .content ul li:hover h2 {
  color: #528c00;
}
/* line 493, ../../../app/stylesheets/application.sass */
dl.top-news dd .content ul li.last {
  margin-bottom: 0;
  height: 74px;
}
/* line 496, ../../../app/stylesheets/application.sass */
dl.top-news dd.active {
  display: block;
}

/* line 498, ../../../app/stylesheets/application.sass */
.gray-line-margin {
  background-color: #e4e5e6;
  width: 100%;
  height: 11px;
  display: block;
}

/* line 503, ../../../app/stylesheets/application.sass */
.gray-line {
  background-color: #e4e5e6;
  width: 100%;
  height: 9px;
  display: block;
}

/* line 508, ../../../app/stylesheets/application.sass */
.hidden {
  display: none;
}

/* line 511, ../../../app/stylesheets/application.sass */
.sidebar-container {
  padding-left: 8px;
  padding-right: 20px;
}
/* line 516, ../../../app/stylesheets/application.sass */
.sidebar-container .block .title {
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  font-size: 12.6px;
  color: #5e6465;
  padding-left: 11px;
  margin-top: 10px;
  padding-bottom: 5px;
}
/* line 10, ../../../app/stylesheets/application.sass */
.sidebar-container .block .title a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.sidebar-container .block .title a:hover {
  text-decoration: underline;
}
/* line 526, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content {
  background-color: #f4f4f4;
  border-top: 1px solid #dfdfdf;
  font-size: 12px;
  color: #666666;
  width: 241px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 534, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list {
  list-style: none outside none;
  position: relative;
  padding-bottom: 1px;
}
/* line 538, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list li {
  margin-bottom: 10px;
}
/* line 540, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .name {
  margin-left: 11px;
}
/* line 542, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .price {
  position: absolute;
  left: 100px;
  padding-right: 10px;
}
/* line 546, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .abs_relative {
  position: absolute;
  right: 1px;
}
/* line 551, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .minus .price {
  color: #e10000;
  background: url(/images/minus.gif) no-repeat scroll 100% 0 transparent;
}
/* line 555, ../../../app/stylesheets/application.sass */
.sidebar-container .block .content .indicator-list .plus .price {
  color: #65ab00;
  background: url(/images/plus.gif) no-repeat scroll 100% 2px transparent;
}
/* line 559, ../../../app/stylesheets/application.sass */
.sidebar-container .block .interview img {
  margin-left: 5px;
  margin-right: 5px;
}
/* line 39, ../../../app/stylesheets/application.sass */
.sidebar-container .block .interview h1, .sidebar-container .block .interview h2, .sidebar-container .block .interview h3 {
  font-size: 12px;
  color: #33a02c;
}
/* line 10, ../../../app/stylesheets/application.sass */
.sidebar-container .block .interview h1 a, .sidebar-container .block .interview h2 a, .sidebar-container .block .interview h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.sidebar-container .block .interview h1 a:hover, .sidebar-container .block .interview h2 a:hover, .sidebar-container .block .interview h3 a:hover {
  text-decoration: underline;
}
/* line 563, ../../../app/stylesheets/application.sass */
.sidebar-container .block .interview p {
  color: #4e4e4e;
  font-size: 10px;
}
/* line 567, ../../../app/stylesheets/application.sass */
.sidebar-container .block .press-review ul {
  list-style: none;
  padding-left: 11px;
}
/* line 570, ../../../app/stylesheets/application.sass */
.sidebar-container .block .press-review ul li {
  margin-top: 22px;
}
/* line 39, ../../../app/stylesheets/application.sass */
.sidebar-container .block .press-review ul li h1, .sidebar-container .block .press-review ul li h2, .sidebar-container .block .press-review ul li h3 {
  font-size: 9px;
  color: #4e4e4e;
}
/* line 10, ../../../app/stylesheets/application.sass */
.sidebar-container .block .press-review ul li h1 a, .sidebar-container .block .press-review ul li h2 a, .sidebar-container .block .press-review ul li h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.sidebar-container .block .press-review ul li h1 a:hover, .sidebar-container .block .press-review ul li h2 a:hover, .sidebar-container .block .press-review ul li h3 a:hover {
  text-decoration: underline;
}
/* line 573, ../../../app/stylesheets/application.sass */
.sidebar-container .block .press-review ul li h2 {
  font-weight: bold;
}
/* line 575, ../../../app/stylesheets/application.sass */
.sidebar-container .block .press-review ul li .time {
  font-size: 9px;
  color: #4e4e4e;
  margin-left: -2px;
  margin-bottom: 3px;
}
/* line 580, ../../../app/stylesheets/application.sass */
.sidebar-container .block .press-review ul li:first-child {
  margin-top: 0px;
}
/* line 583, ../../../app/stylesheets/application.sass */
.sidebar-container .blogs .logo {
  border-top: 1px solid #dfdfdf;
}
/* line 585, ../../../app/stylesheets/application.sass */
.sidebar-container .blogs .info {
  margin-left: 11px;
  margin-bottom: 16px;
}
/* line 39, ../../../app/stylesheets/application.sass */
.sidebar-container .blogs .info h1, .sidebar-container .blogs .info h2, .sidebar-container .blogs .info h3 {
  font-size: 9px;
  color: #0084ff;
}
/* line 10, ../../../app/stylesheets/application.sass */
.sidebar-container .blogs .info h1 a, .sidebar-container .blogs .info h2 a, .sidebar-container .blogs .info h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.sidebar-container .blogs .info h1 a:hover, .sidebar-container .blogs .info h2 a:hover, .sidebar-container .blogs .info h3 a:hover {
  text-decoration: underline;
}
/* line 590, ../../../app/stylesheets/application.sass */
.sidebar-container .blogs .info h3 a {
  text-decoration: underline !important;
}
/* line 592, ../../../app/stylesheets/application.sass */
.sidebar-container .blogs .info:first-child {
  margin-top: 10px;
}
/* line 594, ../../../app/stylesheets/application.sass */
.sidebar-container .blogs .content {
  border-top: none;
}
/* line 39, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content h1, .sidebar-container .rating .content h2, .sidebar-container .rating .content h3 {
  font-size: 11px;
  color: #33a02c;
}
/* line 10, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content h1 a, .sidebar-container .rating .content h2 a, .sidebar-container .rating .content h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content h1 a:hover, .sidebar-container .rating .content h2 a:hover, .sidebar-container .rating .content h3 a:hover {
  text-decoration: underline;
}
/* line 599, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content h2, .sidebar-container .rating .content h3 {
  margin-left: 11px;
}
/* line 601, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content img {
  margin-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 8px;
}
/* line 606, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content .info {
  margin-bottom: 10px;
}
/* line 39, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content .info h1, .sidebar-container .rating .content .info h2, .sidebar-container .rating .content .info h3 {
  font-size: 9px;
  color: #4e4e4e;
}
/* line 10, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content .info h1 a, .sidebar-container .rating .content .info h2 a, .sidebar-container .rating .content .info h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content .info h1 a:hover, .sidebar-container .rating .content .info h2 a:hover, .sidebar-container .rating .content .info h3 a:hover {
  text-decoration: underline;
}
/* line 609, ../../../app/stylesheets/application.sass */
.sidebar-container .rating .content .info h3 {
  font-weight: bold;
}
/* line 612, ../../../app/stylesheets/application.sass */
.sidebar-container .popular .content {
  padding-top: 0;
}
/* line 614, ../../../app/stylesheets/application.sass */
.sidebar-container .popular .content .news-container {
  background-color: inherit;
  border-top-color: #f4f4f4;
}
/* line 618, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul {
  list-style: none;
}
/* line 620, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li {
  display: inline;
}
/* line 622, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li h2 {
  display: none;
}
/* line 624, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li img {
  margin-left: 4px;
}
/* line 626, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li:first-child {
  display: block;
}
/* line 628, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li:first-child img {
  width: 0 auto;
  padding-bottom: 5px;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 5px;
}
/* line 39, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li:first-child h1, .sidebar-container .photo ul li:first-child h2, .sidebar-container .photo ul li:first-child h3 {
  font-size: 12px;
  color: #33a02c;
}
/* line 10, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li:first-child h1 a, .sidebar-container .photo ul li:first-child h2 a, .sidebar-container .photo ul li:first-child h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li:first-child h1 a:hover, .sidebar-container .photo ul li:first-child h2 a:hover, .sidebar-container .photo ul li:first-child h3 a:hover {
  text-decoration: underline;
}
/* line 634, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li:first-child h2, .sidebar-container .photo ul li:first-child h3 {
  display: block;
  margin-left: 11px;
  margin-bottom: 4px;
}
/* line 638, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li.last {
  float: right;
}
/* line 640, ../../../app/stylesheets/application.sass */
.sidebar-container .photo ul li.last img {
  margin-right: 4px;
}

/* line 643, ../../../app/stylesheets/application.sass */
.clear {
  clear: both;
}

/* line 646, ../../../app/stylesheets/application.sass */
.news-container {
  width: 100%;
  background-color: #f1f6f1;
  border-top: 1px solid #d8e5d8;
  padding: 0;
  position: relative;
}
/* line 652, ../../../app/stylesheets/application.sass */
.news-container .light-green-line {
  height: 1px;
  width: 100%;
  position: absolute;
  display: block;
  top: 29px;
  background-color: #a3cd6b;
  margin-left: 0;
  margin-right: 20px;
}
/* line 661, ../../../app/stylesheets/application.sass */
.news-container dl {
  margin-top: 8px;
  position: relative;
  overflow: hidden;
  margin-left: 20px;
}
/* line 666, ../../../app/stylesheets/application.sass */
.news-container dl dt {
  position: relative;
  cursor: pointer;
  float: left;
  color: #345900;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  margin-right: 8px;
  padding-bottom: 6px;
  margin-bottom: 6px;
}
/* line 676, ../../../app/stylesheets/application.sass */
.news-container dl dt.active {
  font-weight: bold;
  color: #6fb111;
  border-bottom: 3px solid #6fb111;
}
/* line 680, ../../../app/stylesheets/application.sass */
.news-container dl dt:hover {
  color: #6fb111;
  border-bottom: 3px solid #6fb111;
}
/* line 683, ../../../app/stylesheets/application.sass */
.news-container dl dd {
  float: right;
  width: 100%;
  position: relative;
  margin: 20px 0 0 -100%;
  display: none;
}
/* line 689, ../../../app/stylesheets/application.sass */
.news-container dl dd .time {
  font-size: 9px;
  color: white;
  background-color: #aaaaaa;
  padding: 1 px;
  margin-top: 3px;
}
/* line 695, ../../../app/stylesheets/application.sass */
.news-container dl dd a {
  color: #010101;
  font-size: 12px;
  text-decoration: none;
}
/* line 699, ../../../app/stylesheets/application.sass */
.news-container dl dd a:hover {
  text-decoration: underline;
}
/* line 701, ../../../app/stylesheets/application.sass */
.news-container dl dd tr {
  margin-bottom: 10px;
}
/* line 703, ../../../app/stylesheets/application.sass */
.news-container dl dd ul {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 706, ../../../app/stylesheets/application.sass */
.news-container dl dd ul li {
  margin-bottom: 10px;
}
/* line 708, ../../../app/stylesheets/application.sass */
.news-container dl dd ul li .time {
  background-color: transparent;
  color: #4e4e4e;
}
/* line 39, ../../../app/stylesheets/application.sass */
.news-container dl dd ul li h1, .news-container dl dd ul li h2, .news-container dl dd ul li h3 {
  font-size: 9px;
  color: #4e4e4e;
}
/* line 10, ../../../app/stylesheets/application.sass */
.news-container dl dd ul li h1 a, .news-container dl dd ul li h2 a, .news-container dl dd ul li h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.news-container dl dd ul li h1 a:hover, .news-container dl dd ul li h2 a:hover, .news-container dl dd ul li h3 a:hover {
  text-decoration: underline;
}
/* line 712, ../../../app/stylesheets/application.sass */
.news-container dl dd ul li h2 {
  font-weight: bold;
}
/* line 714, ../../../app/stylesheets/application.sass */
.news-container dl dd ul li:first-child {
  margin-top: 10px;
}
/* line 719, ../../../app/stylesheets/application.sass */
.news-container dl dd.active {
  display: block;
}
/* line 721, ../../../app/stylesheets/application.sass */
.news-container table {
  border-collapse: separate;
  border-spacing: 10px;
  margin-left: -10px;
}

/* line 726, ../../../app/stylesheets/application.sass */
.category-list {
  margin-top: 10px;
}
/* line 728, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block {
  clear: both;
  padding-left: 20px;
  padding-top: 20px;
}
/* line 732, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 20px;
  float: left;
  display: inline;
  width: 49%;
  margin-right: 1%;
}
/* line 18, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block .title {
  font-size: 18px;
  color: #4e4e4e;
  font-style: italic;
  font-family: Geogia;
  font-weight: bold;
  position: float;
}
/* line 25, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block .title a, .category-list .horizontal-block .block .title div {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  margin-left: 4px;
  display: inline;
}
/* line 31, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block .title span {
  display: block;
  width: 7px;
  height: 13px;
  background-color: #70a822;
  float: left;
  margin-top: 4px;
}
/* line 740, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul {
  list-style: none;
}
/* line 742, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li {
  margin-bottom: 10px;
  position: relative;
}
/* line 39, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li h1, .category-list .horizontal-block .block ul li h2, .category-list .horizontal-block .block ul li h3 {
  font-size: 11px;
  color: #4e4e4e;
}
/* line 10, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li h1 a, .category-list .horizontal-block .block ul li h2 a, .category-list .horizontal-block .block ul li h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li h1 a:hover, .category-list .horizontal-block .block ul li h2 a:hover, .category-list .horizontal-block .block ul li h3 a:hover {
  text-decoration: underline;
}
/* line 746, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li h2 {
  margin-left: 40px;
}
/* line 748, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li img {
  display: none;
}
/* line 750, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li .time {
  float: left;
  color: #4e4e4e;
  font-size: 9px;
  display: inline;
  position: absolute;
  top: 2px;
}
/* line 758, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li:first-child {
  background-color: #f4f4f4;
  border-top: 1px solid #dfdfdf;
  padding: 3px;
}
/* line 762, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li:first-child img {
  display: block;
  float: left;
  margin-right: 7px;
}
/* line 766, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li:first-child .time {
  font-size: 9px;
  font-family: Verdana;
  color: #4e4e4e;
  display: block;
  float: none;
  position: static;
}
/* line 39, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li:first-child h1, .category-list .horizontal-block .block ul li:first-child h2, .category-list .horizontal-block .block ul li:first-child h3 {
  font-size: 11px;
  color: #528c00;
}
/* line 10, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li:first-child h1 a, .category-list .horizontal-block .block ul li:first-child h2 a, .category-list .horizontal-block .block ul li:first-child h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li:first-child h1 a:hover, .category-list .horizontal-block .block ul li:first-child h2 a:hover, .category-list .horizontal-block .block ul li:first-child h3 a:hover {
  text-decoration: underline;
}
/* line 774, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li:first-child h2 {
  font-weight: bold;
}
/* line 776, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .block ul li:first-child .lead {
  font-size: 11px;
  font-family: Verdana;
  color: #4e4e4e;
}
/* line 780, ../../../app/stylesheets/application.sass */
.category-list .horizontal-block .right {
  float: right;
  margin-right: 0;
}

/* line 784, ../../../app/stylesheets/application.sass */
.stories {
  margin-top: 20px;
  margin-left: 20px;
}
/* line 18, ../../../app/stylesheets/application.sass */
.stories .title {
  font-size: 18px;
  color: #4e4e4e;
  font-style: italic;
  font-family: Geogia;
  font-weight: bold;
  position: float;
}
/* line 25, ../../../app/stylesheets/application.sass */
.stories .title a, .stories .title div {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  margin-left: 4px;
  display: inline;
}
/* line 31, ../../../app/stylesheets/application.sass */
.stories .title span {
  display: block;
  width: 7px;
  height: 13px;
  background-color: #54adbc;
  float: left;
  margin-top: 4px;
}
/* line 788, ../../../app/stylesheets/application.sass */
.stories .content {
  background-color: #f4f4f4;
  border-top: 1px solid #dfdfdf;
  padding: 3px;
  width: 100%;
}
/* line 793, ../../../app/stylesheets/application.sass */
.stories .content table {
  width: 100%;
}
/* line 39, ../../../app/stylesheets/application.sass */
.stories .content h1, .stories .content h2, .stories .content h3 {
  font-size: 11px;
  color: #4e4e4e;
}
/* line 10, ../../../app/stylesheets/application.sass */
.stories .content h1 a, .stories .content h2 a, .stories .content h3 a {
  color: inherit;
  text-decoration: none;
  font-size: inherit;
}
/* line 14, ../../../app/stylesheets/application.sass */
.stories .content h1 a:hover, .stories .content h2 a:hover, .stories .content h3 a:hover {
  text-decoration: underline;
}
/* line 796, ../../../app/stylesheets/application.sass */
.stories .content img {
  margin-top: 5px;
  margin-bottom: 5px;
  box-shadow: 3px 3px 0px #8c9091;
  -webkit-box-shadow: 3px 3px 0px #8c9091;
  -moz-box-shadow: 3px 3px 0px #8c9091;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color='#8c9091')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=0, Direction=135, Color='#8c9091');
}

/* line 805, ../../../app/stylesheets/application.sass */
.al_bottom1 {
  display: table;
  position: relative;
  width: 100%;
}
/* line 809, ../../../app/stylesheets/application.sass */
.al_bottom1 .al_bottom2 {
  display: table-row;
  position: relative;
  width: 100%;
}
/* line 813, ../../../app/stylesheets/application.sass */
.al_bottom1 .al_bottom2 div {
  display: table-cell;
  position: relative;
  vertical-align: bottom;
}
/* line 817, ../../../app/stylesheets/application.sass */
.al_bottom1 .al_bottom2 div div {
  display: block;
  width: auto;
  position: relative;
}
