.white-background.interviews
  .element
    %a(href="#")
      %img(src="/images/interview_1.jpg")
    .time
      12 ноября 18:38 /
      %a(href="")
        Общество
    %h2
      %a(href="#")
        Звезда Голливуда Фредди Крюгер
    .gray-line
    %h3
      %a(href="#")
        Ющенко ответит за украденый образ!
    %p
      Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений.
      .hr

  .element
    %a(href="#")
      %img(src="/images/interview_2.jpg")
    .time
      12 ноября 18:38 /
      %a(href="")
        Общество
    %h2
      %a(href="#")
        Винни Пух Семенович Глобусокрутов
    .gray-line
    %h3
      %a(href="#")
        Ющенко ответит за украденый образ!
    %p
      Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений.
      .hr

  .element
    %a(href="#")
      %img(src="/images/interview_3.jpg")
    .time
      12 ноября 18:38 /
      %a(href="")
        Общество
    %h2
      %a(href="#")
        Сатан Клаус
    .gray-line
    %h3
      %a(href="#")
        Ющенко ответит за украденый образ!
    %p
      Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений.
      .hr

  .element
    %a(href="#")
      %img(src="/images/interview_4.jpg")
    .time
      12 ноября 18:38 /
      %a(href="")
        Общество
    %h2
      %a(href="#")
        Первый нах
    .gray-line
    %h3
      %a(href="#")
        Ющенко ответит за украденый образ!
    %p
      Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений.
      .hr

  .element
    %a(href="#")
      %img(src="/images/interview_5.jpg")
    .time
      12 ноября 18:38 /
      %a(href="")
        Общество
    %h2
      %a(href="#")
        Громозека
    .gray-line
    %h3
      %a(href="#")
        Ющенко ответит за украденый образ!
    %p
      Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений.
      .hr

  .element
    %a(href="#")
      %img(src="/images/interview_1.jpg")
    .time
      12 ноября 18:38 /
      %a(href="")
        Общество
    %h2
      %a(href="#")
        Звезда Голливуда Фредди Крюгер
    .gray-line
    %h3
      %a(href="#")
        Ющенко ответит за украденый образ!
    %p
      Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений.
      .hr
        
  .pagination
    %nobr
      Страницы
      %a(href="") предыдущая
      %a(href="")
        следующая
    .pages
      %a(href="") 1
      %a(href="") 2
      %a(href="") 3
      %a(href="") 4
      %a(href="") 5
      %a(href="") 6
      %a(href="") 7
      %a(href="") 8

- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'
