.block.blogs
  .title
    %a(href="")
      Блоги
  .logo
    %img(src="/images/livejournal.gif")
  .content
    .info
      %em.date
      %h3
        %a(href="")
          Ларьки закрываются, казино открываются!
    .info
      %em.date
      %h3
        %a(href="")
          Счетная палата обвинила Алексея Навального в заказе
    .info
      %em.date
        %h3
          %a(href="")
            Технологии и ЖЖизнь