.block
  .title
    Интервью
  .content.interview
    .al_bottom1
      .al_bottom2
        .col1
          %a(href="")
            %img(src="/images/interview.jpg")
        .col2
          %h2
            %a(href="")
              Виктор Пинский
          %p
            «Я несу ответственность за консолидацию профсоюзов Дальнего Востока»