.block
  .title
    Курсы валют
  .content
    %ul.indicator-list
      %li.minus
        %span.name
          Доллар США
        %span.price
          30.7709
        %span.abs_relative
          (-0.0232)
      %li.plus
        %span.name
          Евро
        %span.price
          43.1654
        %span.abs_relative
          (+0.2507)
