.block.photo
  .title
    %h3
      %a(href="")
        Фоторепортаж
  .content
    %ul
      %li
        %h2
          %a(href="")
            Карнавальный сезон стартовал в Германии и Австралии
        %a(href="")
          %img(src="/images/photo_1.jpg")
      %li
        %a(href="")
          %img(src="/images/photo_2.jpg")
      %li.last
        %a(href="")
          %img(src="/images/photo_3.jpg")