.block.popular
  .title
    Самое популярное
  .content
    .news-container
      .light-green-line
      %dl
        %dt.active
          За сутки
        %dd.active
          %ul
            %li
              .time
                11 ноября 17:46
              %h2
                %a(href="")
                  Собянин утвердил новый график работы московских чиновников
            %li
              .time
                10 ноября 18:00
              %h2
                %a(href="")
                  Абрамович участвует в конкурсе на реконструкцию Новой Голландии
            %li
              .time
                11 ноября 12:46
              %h2
                %a(href="")
                  Хабаровские парламентарии просят сократить разницу во времени с Москвой
        %dt
          За неделю
        %dd
          %ul
            %li
              .time
                11 ноября 17:46
              %h2
                %a(href="")
                  Под пулями, но не перед камерой
            %li
              .time
                10 ноября 18:00
              %h2
                %a(href="")
                  Три цвета угрозы
            %li
              .time
                11 ноября 12:46
              %h2
                %a(href="")
                  Депутаты Приморского края поддержали изменения часового пояса
        %dt
          За месяц
        %dd
          %ul
            %li
              .time
                18 ноября 16:08
              %h2
                %a(href="")
                  Награда «Green Car of the Year» досталась Chevrolet Volt
            %li
              .time
                17 ноября 14:20
              %h2
                %a(href="")
                  Больному сердцу поможет алкоголь
            %li
              .time
                17 ноября 09:05
              %h2
                %a(href="")
                  Кудрин обвинил государство в слабости
