.block
  .title
    Обзор прессы
  .content.press-review
    %ul
      %li
        .time
          11 ноября / Коммерсант
        %h2
          %a(href="")
            Зачем журналистам Дальний Восток?
      %li
        .time
          11 ноября / Известия
        %h2
          %a(href="")
            Главное – вовремя «потушить свет»
      %li
        .time
          11 ноября / Техника молодежи
        %h2
          %a(href="")
            Денег очень нано
      %li
        .time
          11 ноября / Мурзилка для взрослых
        %h2
          %a(href="")
            На голубом газу