.block.rating
  .title
    %a(href="")
      10 чудес Дальнего Востока
  .content
    %h2
      %a(href="")
        Алмазный карьер в Мирном
    %center
      %a(href="")
        %img(src="/images/rating.jpg")
    .info
      %h3
        %a(href="")
          Долина Гейзеров Камчатка
    .info
      %h3
        %a(href="")
          Китовая аллея
    .info
      %h3
        %a(href="")
          Вулкан Клюевская Сопка
