.block
  .title
    Видео
  :plain
    <OBJECT width="239" height="300"><EMBED src="http://www.newstube.ru/freshplayer.swf" type="application/x-shockwave-flash" wmode="window" width="239" height="300" allowFullScreen="true" FLASHVARS="guid=31083903-27cb-454e-ae74-20f12a61a657&location=dv-news&placement=embed"/></OBJECT>