.image
.message
  %h1
    Здесь новостей нет
  %p
    :plain
      Вы попали на страницу о которой у нашего<br />
      агентсва нет ни одной новости :(<br />
      Попробуйте поискать тут: <a href="www.dv-news.ru">www.dv-news.ru</a>