.white-background.video
  .item
    %h2
      Верка Сердючка: Владивосток - это круто!
    .lead
      Театр украинского шоумена Андрея Данилко с блеском выступил во Владивостоке (ФОТО, ВИДЕО)
      %br
      :plain
        <object id="mainPlayer" width="412" height="232"><param name="bgcolor" value="#ffffff"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="movie" value="http://prim.tv/swf/uppod/uppod.swf"><param name="flashvars" value="st=http://prim.tv/swf/uppod/styles/style.txt&amp;file=http://prim.tv/static/video/2010/11/12/454.flv"><embed src="http://prim.tv/swf/uppod/uppod.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" flashvars="m=video&amp;st=http://prim.tv/swf/uppod/styles/style.txt&amp;file=http://prim.tv/static/video/2010/11/12/454.flv" bgcolor="#ffffff" width="412" height="232"></object>
  .item
    %h2
      Рейсовый автобус во Владивостоке, развернувшись на гололеде, зацепил 10 машин
    .lead
      Проезд по Светланской в сторону площади Луговой полностью блокирован (ФОТО, ВИДЕО)
      %br
      :plain
        <object id="mainPlayer" width="412" height="232"><param name="bgcolor" value="#ffffff"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="movie" value="http://prim.tv/swf/uppod/uppod.swf"><param name="flashvars" value="st=http://prim.tv/swf/uppod/styles/style.txt&amp;file=http://prim.tv/static/video/2010/11/12/453.flv"><embed src="http://prim.tv/swf/uppod/uppod.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" flashvars="m=video&amp;st=http://prim.tv/swf/uppod/styles/style.txt&amp;file=http://prim.tv/static/video/2010/11/12/453.flv" bgcolor="#ffffff" width="412" height="232"></object>
  .item
    %h2
      Владивостокцы пересаживаются на танки
    .lead
      Житель города переоборудовал бронированную разведывательно-дозорную машину в личный автомобиль (ФОТО, ВИДЕО)
      %br
      :plain
        <object id="mainPlayer" width="412" height="232"><param name="bgcolor" value="#ffffff"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="movie" value="http://prim.tv/swf/uppod/uppod.swf"><param name="flashvars" value="st=http://prim.tv/swf/uppod/styles/style.txt&amp;file=http://prim.tv/static/video/2010/11/5/431.flv"><embed src="http://prim.tv/swf/uppod/uppod.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" flashvars="m=video&amp;st=http://prim.tv/swf/uppod/styles/style.txt&amp;file=http://prim.tv/static/video/2010/11/5/431.flv" bgcolor="#ffffff" width="412" height="232"></object>
  .item
    %h2
      Армия Южной Кореи приведена в состоянии полной боевой готовности
    .lead
      По крайней мере, 200 артиллерийских снарядов обрушились на территорию южнокорейских островов в Желтом море (ВИДЕО)
      %br
      :plain
        <object id="mainPlayer" width="412" height="232"><param name="bgcolor" value="#ffffff"><param name="allowFullScreen" value="true"><param name="allowScriptAccess" value="always"><param name="movie" value="http://prim.tv/swf/uppod/uppod.swf"><param name="flashvars" value="st=http://prim.tv/swf/uppod/styles/style.txt&amp;file=http://prim.tv/static/video/2010/11/4/427.flv"><embed src="http://prim.tv/swf/uppod/uppod.swf" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" flashvars="m=video&amp;st=http://prim.tv/swf/uppod/styles/style.txt&amp;file=http://prim.tv/static/video/2010/11/4/427.flv" bgcolor="#ffffff" width="412" height="232"></object>

- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'       
