.category-list
  .horizontal-block
    .block
      .title
        %span
        %a(href="")
          Политика
      %ul
        %li
          %a(href="")
            %img(src="/images/category_list_1.jpg")
          .time
            12 ноября
          %h2
            %a(href="")
              Япония отозвала своего посла в России
          .lead
            Сегодня утром стало известно о том, что после визита российского президента на Курильские острова японская сторона
        %li
          .time
            12.03
          %h2
            %a(href="")
              Раскол в стане оппозиции
        %li
          .time
            11.03
          %h2
            %a(href="")
              Медведев померялся с Путиным рейтингами
        %li
          .time
            11.03
          %h2
            %a(href="")
              «Просвещенный консерватизм» от Михалкова
        %li
          .time
            5.03
          %h2
            %a(href="")
              Хлопонин обвинил спецслужбы Запада
    .block.right
      .title
        %span
        %a(href="")
          Общество
      %ul
        %li
          %a(href="")
            %img(src="/images/category_list_2.jpg")
          .time
            12 ноября
          %h2
            %a(href="")
              В России отмечается День ракетных войск и артиллерии
          .lead
            Сегодня отмечают свой профессиональный праздник ракетные войска и артиллерия Вооруженных сил РФ, включающая…
        %li
          .time
            12.03
          %h2
            %a(href="")
              В мэрии Владивостока прошел обыск
        %li
          .time
            11.03
          %h2
            %a(href="")
              «Брось курить сегодня»
        %li
          .time
            11.03
          %h2
            %a(href="")
              Три цвета угрозы
        %li
          .time
            5.03
          %h2
            %a(href="")
              Следственный комитет занялся незаконным отчуждением земли, предназначавшейся для посольств
  .horizontal-block
    .block
      .title
        %span
        %a(href="")
          Политика
      %ul
        %li
          %a(href="")
            %img(src="/images/category_list_3.jpg")
          .time
            12 ноября
          %h2
            %a(href="")
              Кудрин обвинил государство в слабости
          .lead
            С января 2011 года общая ставка страховых взносов повышается с 26 до 34 процентов. Рост страховых взносов связан
        %li
          .time
            12.03
          %h2
            %a(href="")
              Степашин опроверг сведения о хищениях в «Транснефти»
        %li
          .time
            11.03
          %h2
            %a(href="")
              Банковские вклады стали убыточными
        %li
          .time
            11.03
          %h2
            %a(href="")
              Инициатива ЦБ и Минфина сократит количество банков в РФ на треть
        %li
          .time
            5.03
          %h2
            %a(href="")
              Standard Chartered: к 2020 году Китай обгонит США и станет первой экономикой мира
    .block.right
      .title
        %span
        %a(href="")
          Происшествия
      %ul
        %li
          %a(href="")
            %img(src="/images/category_list_4.jpg")
          .time
            12 ноября
          %h2
            %a(href="")
              Под пулями, но не перед камерой
          .lead
            Вечером в среду во время дорожного конфликта, произошедшего в центре Москвы, на Композиторской улице, неизвестный…
        %li
          .time
            12.03
          %h2
            %a(href="")
              Массовая резня на Кубани: главарь банды заключен под стражу, следствие изучает обстоятельства дела
        %li
          .time
            11.03
          %h2
            %a(href="")
              Найден организатор жестокой резни в Кущевской
        %li
          .time
            11.03
          %h2
            %a(href="")
              В их «Войне» троих не стало
        %li
          .time
            5.03
          %h2
            %a(href="")
              Задержан предполагаемый заказчик массового убийства в кубанской станице
