.news-container
  :plain
    <style type="text/css">@-moz-document url-prefix(){.light-green-line{top: 31px !important}}</style>
  .light-green-line
  %dl
    %dt.active
      Новости
    %dd.active
      %table(cellspacing="10")
        %tr
          %td
            .time
              20:01
          %td
            %a(href="")
              %nobr
                Астахов: Российские дети, оставшиеся без семьи, должны обретать ее в РФ, а не за границей
        %tr
          %td
            .time
              19:20
          %td
            %a(href="")
              %nobr
                Карельские власти намерены публиковать в СМИ списки предприятий-должников по налогам
        %tr
          %td
            .time
              18:36
          %td
            %a(href="")
              %nobr
                Форум, посвященный защите детей и государственной семейной политике, пройдет в Петербурге

        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Место Андрея Караулова в прайм-тайме «ТВ Центра» займет Роман Мельник
        %tr
          %td
            .time
              18:28
          %td
            %a(href="")
              %nobr
                Правоохранители Татарстана держат на оперативном учете более 120 преступных группировок
    %dt
      Центр
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Место Андрея Караулова в прайм-тайме «ТВ Центра» займет Роман Мельник
        %tr
          %td
            .time
              17:53
          %td
            %a(href="")
              %nobr
                Мосгорсуд признал законным прекращение дела о ДТП на Ленинском проспекте
        %tr
          %td
            .time
              18:36
          %td
            %a(href="")
              %nobr
                Автомобиль стрелявшего из травматики в центре Москвы - с крадеными номерами

        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Власти Подмосковья считают, что торговые центры у МКАД должны улучшать съезды за свой счет

        %tr
          %td
            .time
              18:28
          %td
            %a(href="")
              %nobr
                Минэнерго приступает к интеграции энергосистем Москвы и Подмосковья

    %dt
      В мире
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Комиссия МВД проверит работу милиции на Кубани, где зарезали три семьи
        %tr
          %td
            .time
              17:53
          %td
            %a(href="")
              %nobr
                РЖД в 2011 году сохранит льготы школьникам на проезд в дальнем следовании
        %tr
          %td
            .time
              18:36
          %td
            %a(href="")
              %nobr
                Госдума приняла во II чтении законопроект о передаче имущества религиозным организациям
        %tr
          %td
            .time
              16:46
          %td
            %a(href="")
              %nobr
                Годовая инфляция в США в октябре ускорилась на 0,1 п.п., до 1,2% - выше прогноза

        %tr
          %td
            .time
              16:16
          %td
            %a(href="")
              %nobr
                Проволочки с договором СНВ в Сенате могут лишить США помощи РФ в решении иранской проблемы

    %dt
      Дальний Восток
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Роснедра 28 декабря проведут торги по трем алмазным участкам в Якутии
        %tr
          %td
            .time
              15:37
          %td
            %a(href="")
              %nobr
                Прокуратура Магадана привлекла к ответственности педагогов школ за доступ детей к запрещенным сайтам
        %tr
          %td
            .time
              14:45
          %td
            %a(href="")
              %nobr
                Обвинение требует для экс-губернатора Приамурья Леонида Короткова 3 года лишения свободы
        %tr
          %td
            .time
              13:31
          %td
            %a(href="")
              %nobr
                Депутаты хотят приравнять бивни мамонта к полезным ископаемым

        %tr
          %td
            .time
              12:38
          %td
            %a(href="")
              %nobr
                Военные городки на Дальнем Востоке могут в декабре остаться без тепла

    %dt
      Сибирь
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Инвестиции в добычу метана в Кузбассе в 2011 году превысят 2 млрд рублей
        %tr
          %td
            .time
              15:37
          %td
            %a(href="")
              %nobr
                Капуста, засоленная томским губернатором, ушла «с молотка» за 100 тысяч рублей
        %tr
          %td
            .time
              14:45
          %td
            %a(href="")
              %nobr
                Два самолета не смогли приземлиться в аэропорту Барнаула из-за непогоды
        %tr
          %td
            .time
              13:31
          %td
            %a(href="")
              %nobr
                Два цеха по переработке гречки построят в Кузбассе в 2011 году, чтобы сдержать цены

        %tr
          %td
            .time
              12:38
          %td
            %a(href="")
              %nobr
                Вертолет доставил в Кызыл шестерых паломников

    %dt
      Урал
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Инвестиции в добычу метана в Кузбассе в 2011 году превысят 2 млрд рублей
        %tr
          %td
            .time
              15:37
          %td
            %a(href="")
              %nobr
                Капуста, засоленная томским губернатором, ушла «с молотка» за 100 тысяч рублей
        %tr
          %td
            .time
              14:45
          %td
            %a(href="")
              %nobr
                Два самолета не смогли приземлиться в аэропорту Барнаула из-за непогоды
        %tr
          %td
            .time
              13:31
          %td
            %a(href="")
              %nobr
                Два цеха по переработке гречки построят в Кузбассе в 2011 году, чтобы сдержать цены

        %tr
          %td
            .time
              12:38
          %td
            %a(href="")
              %nobr
                Вертолет доставил в Кызыл шестерых паломников

    %dt
      Северо-запад
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Инвестиции в добычу метана в Кузбассе в 2011 году превысят 2 млрд рублей
        %tr
          %td
            .time
              15:37
          %td
            %a(href="")
              %nobr
                Капуста, засоленная томским губернатором, ушла «с молотка» за 100 тысяч рублей
        %tr
          %td
            .time
              14:45
          %td
            %a(href="")
              %nobr
                Два самолета не смогли приземлиться в аэропорту Барнаула из-за непогоды
        %tr
          %td
            .time
              13:31
          %td
            %a(href="")
              %nobr
                Два цеха по переработке гречки построят в Кузбассе в 2011 году, чтобы сдержать цены

        %tr
          %td
            .time
              12:38
          %td
            %a(href="")
              %nobr
                Вертолет доставил в Кызыл шестерых паломников

    %dt
      Поволжье
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Инвестиции в добычу метана в Кузбассе в 2011 году превысят 2 млрд рублей
        %tr
          %td
            .time
              15:37
          %td
            %a(href="")
              %nobr
                Капуста, засоленная томским губернатором, ушла «с молотка» за 100 тысяч рублей
        %tr
          %td
            .time
              14:45
          %td
            %a(href="")
              %nobr
                Два самолета не смогли приземлиться в аэропорту Барнаула из-за непогоды
        %tr
          %td
            .time
              13:31
          %td
            %a(href="")
              %nobr
                Два цеха по переработке гречки построят в Кузбассе в 2011 году, чтобы сдержать цены

        %tr
          %td
            .time
              12:38
          %td
            %a(href="")
              %nobr
                Вертолет доставил в Кызыл шестерых паломников

    %dt
      Юг
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              18:32
          %td
            %a(href="")
              %nobr
                Инвестиции в добычу метана в Кузбассе в 2011 году превысят 2 млрд рублей
        %tr
          %td
            .time
              15:37
          %td
            %a(href="")
              %nobr
                Капуста, засоленная томским губернатором, ушла «с молотка» за 100 тысяч рублей
        %tr
          %td
            .time
              14:45
          %td
            %a(href="")
              %nobr
                Два самолета не смогли приземлиться в аэропорту Барнаула из-за непогоды
        %tr
          %td
            .time
              13:31
          %td
            %a(href="")
              %nobr
                Два цеха по переработке гречки построят в Кузбассе в 2011 году, чтобы сдержать цены

        %tr
          %td
            .time
              12:38
          %td
            %a(href="")
              %nobr
                Вертолет доставил в Кызыл шестерых паломников

    %dt
      Северный Кавказ
    %dd
      %table(cellspacing="10")
        %tr
          %td
            .time
              17:52
          %td
            %a(href="")
              %nobr
                Обвиняемый в убийстве мэра Владикавказа отказался от признательных показаний
        %tr
          %td
            .time
              16:40
          %td
            %a(href="")
              %nobr
                Авиабомбу времен ВОВ уничтожат в Северной Осетии
        %tr
          %td
            .time
              15:36
          %td
            %a(href="")
              %nobr
                Хлопонин: национальная политика станет приоритетом для Минрегиона РФ
        %tr
          %td
            .time
              13:57
          %td
            %a(href="")
              %nobr
                В Ставрополе разоблачили группу наркоторговцев

        %tr
          %td
            .time
              13:09
          %td
            %a(href="")
              %nobr
                Молодежный IQ-бал пройдет в Ставрополе