%ul#nav
  %li
    %a(href="")
      Главная
  %li.active
    %a(href="")
      Статьи
    %ul.subnav
      %li
        %a(href="")
          Политика
      %li
        %a(href="")
          Экономика
      %li
        %a(href="")
          В мире
      %li.selected
        %a(href="")
          Общество
      %li
        %a(href="")
          Происшествия
      %li
        %a(href="")
          Культура
      %li
        %a(href="")
          Спорт
      %li
        %a(href="")
          Авто
      %li
        %a(href="")
          Недвижимость
      %li
        %a(href="")
          Наука и технологии
      %li
        %a(href="")
          Туризм
  %li
    %a(href="")
      Новости
  %li
    %a(href="")
      Обзор прессы
  %li
    %a(href="")
      Интервью
  %li
    %a(href="")
      Работа
  %li
    %a(href="")
      Видео
  %li
    %a(href="")
      DV-Wiki
  %li
    %a
      Рейтинги
  %li
    %a(href="")
      Сюжеты
  %li
    %a(href="")
      Блоги
  %li
    %a(href="")
      АТЭС
