.pagination
  %nobr
    Страницы
    %a(href="") предыдущая
    %a(href="") следующая
  .pages
    %a(href="") 1
    %a(href="") 2
    %a(href="") 3
    %a(href="") 4
    %a(href="") 5
    %a(href="") 6
    %a(href="") 7
    %a(href="") 8
