.clear
.stories
  .title
    %span
    %a(href="")
      Популярные сюжеты
  .content
    %table
      %tr
        %td
          %h2
            %a(href="")
              Олимпиада в Сочи 2014
          %a(href="")
            %img(src="/images/stories_1.jpg")
        %td
          %h2
            %a(href="")
              Сергей Собянин
          %a(href="")
            %img(src="/images/stories_2.jpg")
        %td
          %h2
            %a(href="")
              Владимир Путин
          %a(href="")
            %img(src="/images/stories_3.jpg")
              