.white-background.single-page
  .wiki
    %img(src="/images/wiki-puzzle.png" style="border: none")
    %h3.name(style="color: #528c00")
      %br
      DV-Wiki
    %p
      :plain
        Добро пожаловать в DV-Wiki — проект, в котором собрана важнейшая<br />
        и первоочередная информация об округах, регионах и городах Дальнего Востока.
    %h1
      Дальневосточный федеральный округ
    %table
      %tr
        %td(width="50%")
          %img(src="/images/dfo.jpg")
        %td
          %h2
            Городские порталы
          %ul
            %li
              %a(href="")
                Хабаровск
            %li
              %a(href="")
                Владивосток
            %li
              %a(href="")
                Биробиджан
            %li
              %a(href="")
                Магадан
    %p
      Дальневосточный федеральный округ образован указом президента Российской Федерации от 13 мая 2000 г. Округ расположен на территории 6,21 млн кв. км (36,4% территории России). Население округа насчитывает 6,48 млн человек (на конец 2007 г.), что составляет 4,5% населения России.
    %p
      :plain
        Центр ДФО - город <a href="/">Хабаровск</a>
    %hr
    %img(src="/images/wiki1.jpg")
    %h3.name
      Ишаев Виктор Иванович
    %h4
      %span
        Полномочный представитель президента РФ в ДФО
    %p
      Дата наделения полномочиями: 30.04.2009
    %p
      :plain
        Краткие биографические данные<br />
        Дата рождения: 16.04.1948 г.<br />
        Образование: Новосибирский институт инженеров водного транспорта (1979 г.).<br />
        Ученая степень: доктор экономических наук.<br />
        Ученые звания: профессор, действительный член Российской академии наук (академик).<br />
        Должность перед назначением: в октябре 1991 г. указом президента РФ назначен, а в декабре 1996 г. и декабре 2000 г.<br />
        избран главой администрации Хабаровского края. С ноября 2001 г. – губернатор, председатель правительства Хабаровского<br />
        края. В декабре 2004 г. вновь избран губернатором Хабаровского края. В июле 2007 г. по представлению президента РФ<br />
        наделен полномочиями губернатора Хабаровского края.
    %hr
    %h3
      Промышленность

    %img(src="/images/wiki2.jpg")
    %p
      :plain
        Территория ДФО полностью соответствует территории Дальневосточного экономического района.<br />
        Основные отрасли, на которых базируется экономика округа: горнодобывающая, золотодобывающая, цветная металлургия, судостроение, рыбная и лесная промышленность. В структуре промышленного производства в 2007 г. 56% пришлось на долю добычи полезных ископаемых, 24% составили обрабатывающие производства, 20% - производство и распределение электроэнергии, воды и газа.
    %p
      :plain
        Сырьевой характер экономики ДФО определяет структуру внешней торговли округа, в которой экспорт ресурсов в страны<br />
        Азиатско-Тихоокеанского региона (в первую очередь в Китай, Японию, Республику Корею) преобладает над импортом.

    %h3
      Сельское хозяйство
    %img(src="/images/wiki2.jpg")
    %p
      :plain
        Территория ДФО полностью соответствует территории Дальневосточного экономического района.<br />
        Основные отрасли, на которых базируется экономика округа: горнодобывающая, золотодобывающая, цветная металлургия, судостроение, рыбная и лесная промышленность. В структуре промышленного производства в 2007 г. 56% пришлось на долю добычи полезных ископаемых, 24% составили обрабатывающие производства, 20% - производство и распределение электроэнергии, воды и газа.
    %p
      :plain
        Сырьевой характер экономики ДФО определяет структуру внешней торговли округа, в которой экспорт ресурсов в страны<br />
        Азиатско-Тихоокеанского региона (в первую очередь в Китай, Японию, Республику Корею) преобладает над импортом.
