.white-background.single_news
  %a.arrow(href="")
    К списку новостей
  .al_bottom1
    .al_bottom2
      .col1
        %a(href="#")
          %img(src="/images/news_in.jpg")
      .col2
        .time
          12 ноября 18:38 /
          %a(href="")
            Экономика
        %h1
          Завершился первый день саммита АТЭС в Иокогаме, Империя нанесла ответный удар
        %p.lead
          Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений либерализировать торговлю и бороться с протекционизмом для устойчивого социально-экономического роста.
  %p
    Война продолжается. Несмотря на уничтожение Звезды Смерти, Империя выбила повстанцев с планеты Явин 4, и продолжает поиски выживших. Альянс прячет от агентов Империи свою новую базу на далёкой ледяной планете Хот (англ. Hoth). Дарт Вейдер лично возглавляет силы Империи, участвующие в поисках повстанцев. По его приказу во все уголки Галактики рассылаются зонды-разведчики. На Хоте Люк обнаруживает зонд-разведчик Империи, который ищет базу повстанцев. Люк Скайуокер слышит призыв Оби-Вана Кеноби, который велит ему лететь на планету Дагоба, где его ждёт великий джедай — мастер Йода. В снежной пустыне Люк в третий раз применяет Силу и в первый раз — световой меч, спасаясь от снежного чудища.
  %p
    Имперские зонды выслеживают базу повстанцев. Имперский флот атакует её, их встречают пилоты во главе со Скайуокером. После битвы повстанцы, в том числе Хан Соло и Лея Органа, покидают Хот. Люк улетает на Дагобу, где Йода начинает его обучение. Тем временем «Сокол Тысячелетия», на котором выходит из строя гипердвигатель позволяющий развивать скорость света и уходить в гиперпространство, подвергается атаке имперского флота, но ловко ускользает, из-за чего Дарт Вейдер даже убивает адмирала Имперского флота.
  %p
    Хан Соло ведёт его на Беспин для ремонта, где встречается с Лэндо Калриссианом, его давним другом. Здесь Лею,Хана и Чубакку захватывает Дарт Вейдер. Ему нужен Люк Скайуокер, ибо Вейдер хочет переманить его на свою сторону. Хана Соло отправляют к Джаббе Хатту в замороженном виде (Соло послужил «подопытным кроликом» — узнав, что он остался в живых, будучи замороженным, Вейдер принимает решение заморозить и Люка).

  .author
    Джордж Лукас

  .social
    %a.comment(href="")
      Оставить комментарий
    .page-share
      %span.twitter
        :plain
          <a href="http://twitter.com/share" class="twitter-share-button" data-url="http://{site_name}/{if channel_short_name == 'articles'}a{if:else}n{/if}/{exp:url_encode}{url_title}{/exp:url_encode}" data-count="none" data-via="dvnewscom">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
      %span
        :plain
          <script type="text/javascript"> document.write(VK.Share.button(false,{type: "round", text: "Сохранить", title: "{title}"}));</script>
      %span.fb-share
        :plain
          <a name="fb_share" type="button_count" href="http://www.facebook.com/sharer.php">Поделиться</a><script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
    .social-bottom
      

- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'
