.white-background.ratings
  .title
    %span
    %div
      10 чудес Дальнего Востока
  .rating
    %h2
      Долина Гейзеров на Камчатке
    .lead
      Долина Гейзеров расположена примерно в 160 километрах к северу от Петропавлоска-Камчатского. На территории общей площадью около 4 квадратных километров действует более 200 термальных источников, в том числе около 90 гейзеров.
    %img(src="/images/ratings-1.jpg" alt="")
  .rating
    %h2
      Китовая аллея
    .lead
      Китовая аллея на острове Ыттыгран вблизи юго-восточной окнечности Чукотки сооружено из 50-60 черепов и 30 челюстей гренландских китов, сотен специально уложенных камней; в каменной береговой осыпи вырыто около 150 мясных ям-хранилищ.
    %img(src="/images/ratings-2.jpg" alt="")

- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'
