.white-background.apec
  %h1
    Азиатско-Тихоокеанский форум экономического сотрудничества
  %img(src="/images/apec.jpg")
  .title
    %span
    %h2
      Новости форума

  .element
    .lead
      %h2
        %a(href="#")
          Завершился первый день саммита АТЭС в Иокогаме, Империя нанесла ответный удар
      %p
        Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений либерализировать торговлю и бороться с протекционизмом для устойчивого социально-экономического роста.
      .hr

  .element
    .lead
      %h2
        %a(href="#")
          Завершился первый день саммита АТЭС в Иокогаме, Империя нанесла ответный удар
      %p
        Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений либерализировать торговлю и бороться с протекционизмом для устойчивого социально-экономического роста.
      .hr

  .element
    .lead
      %h2
        %a(href="#")
          Завершился первый день саммита АТЭС в Иокогаме, Империя нанесла ответный удар
      %p
        Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений либерализировать торговлю и бороться с протекционизмом для устойчивого социально-экономического роста.
      .hr

  .element
    .lead
      %h2
        %a(href="#")
          Завершился первый день саммита АТЭС в Иокогаме, Империя нанесла ответный удар
      %p
        Сегодня в японском городе Иокогама начался ежегодный двухдневный форум с участием лидеров экономик Азиатско-тихоокеанского экономического сотрудничества (АТЭС). Результатом этой встречи должна стать принятая участниками декларация с подтверждением намерений либерализировать торговлю и бороться с протекционизмом для устойчивого социально-экономического роста.
      .hr

- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'
