.white-background.job
  .element
    .title
      %span
      %div
        Хабаровск
    %hr
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=56&target=1&charset=UTF-8")

  .element
    .title
      %span
      %div
        Владивосток
    %hr
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=70&charset=UTF-8")

  .element
    .title
      %span
      %div
        Благовещенск
    %hr
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=390&charset=UTF-8")

  .element
    .title
      %span
      %div
        Биробиджан
    %hr
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=397&target=1&charset=UTF-8")

  .element
    .title
      %span
      %div
        Петропавловск-Камчатский
    %hr
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=393&target=1&charset=UTF-8")

  .element
    .title
      %span
      %div
        Магадан
    %hr
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=394&target=1&charset=UTF-8")

  .element
    .title
      %span
      %div
        Якутск
    %hr
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=387&target=1&charset=UTF-8")

  .element
    .title
      %span
      %div
        Южно-Сахалинск
    %hr
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=396&target=1&charset=UTF-8")

  .element
    .title
      %span
      %div
        Анадырь
    %hr        
    %script(src="http://www.superjob.ru/export/hot_vacancies.html?limit=20&town=402&target=1&charset=UTF-8")

- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'
