.white-background.press
  .date
    %span
      12 ноября 2010
  .title
    %span
    Коммерсант
  %h2
    Денег нано
  .content
    %p
      Как вчера сообщили в пресс-службе правительства края, подготовкой проекта займется рабочая группа под руководством первого зампредседателя правительства Геннадия Апанасенко. Обеспечить подготовку конкурсной заявки и участие организаций в конкурсе поручено минэкономразвития края. Минимущества предстоит подобрать здание для наноцентра.
    %p
      «Сейчас пока ведется подготовительная работа для того, чтобы в Хабаровском крае появился центр нанотехнологий, — сказала вчера «Ъ» директор «ДАСИ» Галина Подузова.— Чтобы его проект не лег на полку, необходимо, чтобы инновации и до его создания применялись на территории края».
    %p
      Согласно конкурсному положению, региону для победы в конкурсе необходимо «сформировать профессиональную команду для внедрения нанотехнологий в жизнь» с соответствующими финансовыми, кадровыми и другими ресурсами, и обеспечить ей поддержку. Нынешнее решение губернатора стало итогом работы с делегацией Роснано, посетившей Хабаровский край на прошлой неделе.

  .title
    %span
    Российская газета
  %h2
    Зачем журналистам Дальний Восток
  .content
    %p
      На первой встрече чиновники по привычке заговорили об экономике: рассказали и о нефтепроводе «Восточная Сибирь — Тихий океан», и о якутском золоте, и о приморских судах, строящихся по корейским технологиям. Кстати, амурский губернатор Олег Кожемяко тоже похвастался перед журналистами успехами области: вспомнил об автодороге «Чита — Хабаровск», о внешнеэкономических отношениях с Китаем и даже о недавно прошедшей «Амурской осени».
    %p
      Об успехах Дальнего Востока здесь заговорили неспроста. В гостях — около 300 журналистов из Центральной России и зарубежья.
    %p
      А чтобы теорию закрепить на практике, СЖР объявил международный конкурс «Дальний Восток. Открытия 21-го века». Впрочем, подогревать интерес журналистов уже не понадобилось. Многие столичные редакторы сразу после форума освободили журнальные и газетные полосы под дальневосточные публикации.
    %p
      Организаторы медиафорума на заключительном пленарном заседании уже заговорили о следующей творческой встрече. Международный форум в грядущем году пройдет в столице Турции — Анталии.

  .title
    %span
    Амурская правда
  %h2
    На голубом газу
  .content
    %p
      До недавнего времени автолюбители Якутска могли использовать газ только зимой. Проблему начали решать лишь после того, как собственником завода по производству сжиженного газа стала компания со стопроцентным участием государства.
    %p
      Ровно год назад предприятие ввело в эксплуатацию новый склад сжиженного газа. Главный инженер завода Сергей Вальковский сообщил, что объемы резервуаров позволяют «полностью закрыть потребности Якутска».
    %p
      Для автомобилистов города, в котором бензин различных марок стоит порядка 30 рублей за литр, это стало хорошим стимулом для массового переоборудования машин. Ведь литр сжиженного газа обходится на заправке в 13 рублей, а расход этого топлива лишь ненамного выше, чем бензина. На газ переведены городские маршрутные автобусы, что стало одним из факторов сдерживания тарифов на перевозку пассажиров.

- content_for :sidebar do
  = render 'sidebar/video'
  = render 'sidebar/interview'
  = render 'sidebar/photo'
  = render 'sidebar/popular'
