.white-background.single-page
  .title
    %span
    О компании
  %h2
    Информационное агентство DV-NEWS «Сделаем Дальний Восток ближе!»
  %p
    :plain
      Центральный офис: г. <br />Москва Дальневосточный филиал: г. Хабаровск <br />Забайкальский филиал: г. Чита
  %h3
    Информационное агентство DV-NEWS 
  %ul.bigger-margin
    %li
      %span
        Оперативное освещение ярких и значимых событий в социально-экономической, общественной и культурной жизни России и мира.
    %li
      %span
        Центр объединения информационных потоков субъектов РФ.
    %li
      %span
        Надежный поставщик оперативной информации для федеральных органов исполнительной и законодательной власти РФ, администраций субъектов РФ, представителей российских и зарубежных деловых кругов, общественных организаций, СМИ.
  %h3
    Мы предлагаем новости:
  %ul
    %li
      %span
        Мирового значения
    %li
      %span
        федеральных округов РФ
    %li
      %span
        Дальнего Востока
    %li
      %span
        Поволжья
    %li
      %span
        Северо-Западного федерального округа
    %li
      %span
        Урала
    %li
      %span
        Сибири
    %li
      %span
        Центрального федерального округа
    %li
      %span
        Южного федерального округа
    %li
      %span
        Северо-Кавказского федерального округа
  .title
    %span
    Мы работаем для вас
  %table
    %tr
      %td
        .al_bottom1
          .al_bottom2
            .col1
              %img(src="/images/about-1.jpg")
            .col2
              %h1
                :plain
                  Вейдер <br />Дарт Аникеевич
              %p
                Полномочный представитель императора галактики
              .email
                %a(href="")
                  d.warder@dv-news.ru
      %td
        .al_bottom1
          .al_bottom2
            .col1
              %img(src="/images/about-2.jpg")
            .col2
              %h1
                :plain
                  Вейдер <br />Дарт Аникеевич
              %p
                Полномочный представитель императора галактики
              .email
                %a(href="")
                  d.warder@dv-news.ru
      %td
        .al_bottom1
          .al_bottom2
            .col1
              %img(src="/images/about-3.jpg")
            .col2
              %h1
                :plain
                  Вейдер <br />Дарт Аникеевич
              %p
                Полномочный представитель императора галактики
              .email
                %a(href="")
                  d.warder@dv-news.ru

