!!!Strict
%html
  %header
    %link(rel="stylesheet" type="text/css" href="/stylesheets/compiled/application.css")
  %body
    .content
      .top
        %h1.logo
          %a(href="/")
            DV-NEWS
        .date
          12 ноября 2010
        .search
          %form
            %input(value="Поиск")
        = render 'shared/menu'
      .green-line
      .sub-menu-bg
        .menu-background
        .white-line
      #main
        #content
          .hot-news-container
            .hot-news
              .news-title
                Новость часа
              %h1
                %a(href="")
                  Экс-глава компании в Приморье осужден на 6 лет условно за хищение зарплаты сотрудников
          %dl.top-news
            %dt.active
              %table
                %tr
                  %td
                    Россия и мир
                  %td
                    .end
            %dd.active
              .content
                %ul
                  %li.active
                    %img(src="/images/top_news_image1.jpg" width="309" height="222")
                    .time
                      15:45
                    %h2
                      %a(href="")
                        %nobr
                          В России препочитают самые дорогие модели iPad
                    .lead
                      Phasellus in enim. In sollicitudin nibh ac nulla
                  %li
                    %img.hidden(src="/images/top_news_image2.jpg" width="309" height="222")
                    .time
                      14:32
                    %h2
                      %a(href="")
                        %nobr
                          Дмитрий Медведев вручил Орден Почета Дементьевой
                    .lead
                      Suspendisse eleifend nisi at ante. Phasellus euismod vestibulum nisl.
                  %li.last
                    %img.hidden(src="/images/top_news_image3.jpg" width="309" height="222")
                    .time
                      11:00
                    %h2
                      %a(href="")
                        %nobr
                          Российские волейболистки продолжают выигрывать
                    .lead
                      9 ноября, стартовали официальные продажи планшетного компьютера Apple iPad.
            %dt.last
              %table
                %tr
                  %td
                    Дальний восток
                  %td
                    .end
            %dd
              .content
                %ul
                  %li.active
                    %img(src="/images/top_news_image4.jpg" width="309" height="222")
                    .time
                      15:45
                    %h2
                      %a(href="")
                        %nobr
                          I touch myself
                    .lead
                      9 ноября, стартовали официальные продажи планшетного компьютера Apple iPad.
                  %li
                    %img.hidden(src="/images/top_news_image5.jpg" width="309" height="222")
                    .time
                      14:32
                    %h2
                      %a(href="")
                        %nobr
                          Во исполнение Закона о статусе военнослужащих
                    .lead
                      Nunc mattis eros ut risus. Donec ultricies euismod nibh.
                  %li.last
                    %img.hidden(src="/images/top_news_image6.jpg" width="309" height="222")
                    .time
                      11:00
                    %h2
                      %a(href="")
                        %nobr
                          Экскурсия по офису головного Яндекса
                    .lead
                      Nulla accumsan. Aenean purus sapien
          .gray-line-margin
          = render 'shared/common_news'
        #sidebar
          .gray-line
          .sidebar-container
            .block
              .title
                Курсы валют
              .content
                %ul.indicator-list
                  %li.minus
                    %span.name
                      Доллар США
                    %span.price
                      30.7709
                    %span.abs_relative
                      (-0.0232)
                  %li.plus
                    %span.name
                      Евро
                    %span.price
                      43.1654
                    %span.abs_relative
                      (+0.2507)
            .block
              .title
                Видео
            .block
              .title
                Интервью
            .block
              .title
                Фоторепортаж
            .block
              .title
                Самое популярное
            .block
              .title
                Блогии
            .block
              .title
                Обзор прессы
            .block
              .title
                10 чудес Дальнего Востока
      #footer
        %ul.menu
          %li
            %a(href="")
              О компании
          %li
            %a(href="")
              Продукты и услуги
          %li
            %a(href="")
              Контакты
          %li
            %a(href="")
              Партнеры
          %li
            %a(href="")
              RSS
        .copyright
          Copyright 2010 «DV-News» все права защищены
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js'
    = javascript_include_tag 'application'